[2019-10-18 03:11] merspieler opened #2 "Feature request: GPU available with parking brake off when chocks in place"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----

#### Current Behavior (if applicable)

When parking brake is set to off, gpu get's removed

#### Requested Behavior  (feature requests)

Keep gpu when chocks are set.

IRL the parking brake is released once the chocks are in place to the the brakes cool down

[2019-10-18 03:13] merspieler opened #3 "Feature request: Tiller steering"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----
#### Current Behavior (if applicable)

Tiller is linked to rudder

#### Requested Behavior  (feature requests)

Default stays the current way but can be seperated to use a seperate axis for the tiller

[2019-10-18 03:17] merspieler opened #4 "Feature request: new ND with zoom lever (airport moving map)"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----
#### Requested Behavior  (feature requests)

The new ND as it is in the A320NEO with the range selector as in the A350.

When on zoom level, an airport moving map is shown.

#### Possible Solution (if applicable)

#### Steps to Reproduce (bug reports)

1.
2.
3.
4.
5.

[2019-10-18 03:20] merspieler opened #5 "Feature request: Custom views"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----
#### Requested Behavior  (feature requests)

There are the 7, 8, 9 and 0-keys free (afaik). Since 1-6 are fix views, how about make 7-0 user defineable.

Meaning i adujst the view how I want to save it. Then I hit Ctrl (or any other modifier key) and then 7-0 or hit a button in a menu. This s

[2019-10-18 03:24] merspieler opened #6 "Feature request: support thrustlever with reverse zone"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----
#### Requested Behavior  (feature requests)

Meaning, that part of the trustlever range is configured as reverse zone which controls the reverse thrust. The other dentents should be rearranged accordingly.

[2019-10-18 03:26] merspieler opened #7 "Feature request: set copilot view as default"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----
#### Requested Behavior  (feature requests)

Add a checkbox to the config to set the default view to the copilot side

[2019-10-18 03:28] merspieler opened #8 "Feature Request: Keyboard mode for MCDU"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----
#### Current Behavior (if applicable)

MCDU entrys only possible by mouse

#### Requested Behavior  (feature requests)

Enter a Keyboard mode where all key strokes go to the MCDU so you can use your keyboard to manipulate the MCDU.
F1 through F6 for left LSK 1-6
F7 through F12 for right LSK 1

[2019-10-18 03:37] merspieler opened #9 "Feature request: set default MCDU values"
### General
----

I am submitting a: (select one)
* [ ] Bug report
* [x] Feature request

### Details
----
#### Requested Behavior  (feature requests)

add config for default MCDU values (eg. transition alt)

[2019-10-19 10:36] legoboyvdlp commented on #6
Just to confirm, idle should be approximately 25% throttle, so if you throttle down further with the reverse levers up you'll get reverse?

I would need to confirm that would work with throttle hardware, other than that sounds fine in theory.

[2019-10-19 10:36] legoboyvdlp commented on #5
Sounds good, see Cessna 172 for how they implemented something similar.

[2019-10-19 10:37] legoboyvdlp commented on #7
This was troublesome; I can't remember exactly what but there were issues when I tried doing it; I will investigate further.

[2019-10-19 10:37] legoboyvdlp commented on #3
Yep.

[2019-10-19 10:50] merspieler commented on #6
See as well the few posts in the forum after my [initial request](https://forum.flightgear.org/viewtopic.php?f=4&t=30928&p=334153&hilit=+reverse#p334137)

Josh had an idea how this could work.

[2019-10-19 10:59] legoboyvdlp commented on #4
I don't know how :/

[2019-10-19 10:59] legoboyvdlp commented on #8
I would need to think how to do this, but good idea in theory.

[2019-10-19 11:00] legoboyvdlp commented on #6
Oh dear - that FADEC code is a horrible mess, not to be touched with a six foot pole... But still, I'll investigate it.

[2019-10-19 11:50] legoboyvdlp commented on #2
Solved in 299e387.

[2019-10-19 11:50] #2 closed

[2019-10-19 11:52] legoboyvdlp commented on #9
Yep.

Please comment as to suggested values.

[2019-10-19 12:30] merspieler commented on #9
I'd consult the FMGC documentation(which I don't have), if it notes which parameters are changeable by the airline and add these to a dialog or if the manual describes, how to change it in the mcdu then there it self.

[2019-10-20 09:36] merspieler opened #12 "Feature Request - 8.33MHz spacing"
Implement 8.33MHz spacing for radios

[2019-10-20 10:09] merspieler opened #13 "Feature Request - Radio dialogs"
Add a custom canvas Radio dialog for each RMP

[2019-10-21 03:34] merspieler opened #15 "Feature Request - Config for switching between lbs and kgs"
Add an option to toggle between KGS and LBS for weights.

[2019-10-21 04:11] merspieler opened #16 "Bug - Fire indications not lit/bright enough"
**Describe the bug**
The Fire PB and the fire indication next to the ENG master SW are not lit or noght bright enough

**To Reproduce**
1. Press ENG fire test button
2.  Observer indications

**Expected behaviour**
Clearly visible indications

[2019-10-21 11:29] L1011H commented on #16
Fixed on the OH(CaptB)

[OHpanel.zip](https://github.com/legoboyvdlp/A320-family/files/3750449/OHpanel.zip)

[2019-10-21 12:07] merspieler commented on #16
Thanks... @L1011H

Do you know as well, how to fix the indications on the pedestal, near the eng master switches?

Oh... and don't be shy... you can do the changes your self and open a PR next time ;-)

[2019-10-21 12:57] L1011H commented on #16
@merspieler

I don't know yet, but I will look into it. Also, the fire buttons on the overhead should lit up with the annunciator light switch set to TEST which they are not. I'll look into both of these issues.

[2019-10-21 23:19] L1011H commented on #16
Pedestal issue solved, will upload tomorrow(too sleepy now)

[2019-10-22 10:56] L1011H commented on #16
Unable to upload here today. "Something went really wrong, and we can't process that file" Will try later?

[2019-10-22 13:59] L1011H commented on #16
Pedestal Fire fix:
[pedestal_fix.zip](https://github.com/legoboyvdlp/A320-family/files/3756051/pedestal_fix.zip)

[2019-10-22 16:22] legoboyvdlp commented on #16
Hi,
Thank you CaptB. I will add you to the repository as a collaborator now.

To confirm these changes do not modify the 3D, only the .xml?

[2019-10-22 16:23] legoboyvdlp commented on #13
:+1:

[2019-10-22 17:12] L1011H commented on #16
Thank you!

Yes only XML, no 3D was involved. Also I have completely fixed the overhead issue(Now ENG/APU FIRE will lit up on a fire test or annunciator test) will push that one to the appropriate branch shortly instead of attaching here.

[2019-10-22 17:24] legoboyvdlp commented on #16
👍

[2019-10-22 23:04] #12 closed

[2019-10-23 09:23] L1011H opened #19 "Feature Request - Toggle flightdeck headset on/off"
Make the headset in the flightdeck clickable so that the headset can be switched on/off in order to have a non obstructed view.

[2019-10-23 13:00] L1011H commented on #19
This was a small thing that annoyed me. A click on the Audio Control's Panel's  body will now toggle the headset object on/off.

There's a new property at /controls/audio/headset-toggle please let me know if there's a more suitable place for it.

[2019-10-23 13:48] hayden2000 opened #20 "Bug - Non-engine/apu sounds not playing correctly"
**Describe the bug**
This has been a reoccurring problem for awhile with this aircraft, but there are issues with the non-engine sounds depending on the variant (might be a Mac issue).

**Additional context**
IAE: The engine/apu sounds work without issues. Initially all other sounds work, however after a seemingly random amount of time, all non-engine/apu sounds will stop working. I have found a w

[2019-10-23 16:24] legoboyvdlp commented on #20
Revision.txt please?

[2019-10-23 16:24] legoboyvdlp commented on #19
That sounds fair enough; alternately you could click the speaker on the left hand side of the PFD (easier to avoid accidental clicks)? I have no strong feelings as to which.

[2019-10-23 17:05] hayden2000 commented on #20
Currently on 4

[2019-10-23 20:14] L1011H commented on #19
There are probably better places for that in the flightdeck and the speaker would be a good choice, however none of these are separate objects. It's not a problem to make it one but I don't want to get in Thorsten's way here so I preferred to make it so that there is no need for any changes to the flightdeck 3D model.

We can change the toggle object in the future should we get something ready for

[2019-10-24 02:56] merspieler opened #21 "Bug - ELEC EMER CONF on startup"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Turn BAT 1 and BAT 2 on
2. Observe Master Warning and ELEC EMER CONF on E/WD

**Expected behaviour**
A clear and concise description of what you expected to happen.
Silent power up

**Screenshots**
If applicable, add screenshots to help explain your problem.

** System (p

[2019-10-24 06:27] L1011H commented on #19
[headset-toggle.zip](https://github.com/legoboyvdlp/A320-family/files/3766008/headset-toggle.zip)

[2019-10-24 15:42] legoboyvdlp commented on #21
That's odd. I tried that before and never got that.

Something to do with different initialization speed I imagine...

[2019-10-24 15:43] legoboyvdlp commented on #19
Feel free to commit directly if you wish, if not I'll do it later on this week ;)

[2019-10-24 15:53] legoboyvdlp commented on #21
Ok, reproduced, something is wrong in static inverter.

[2019-10-24 16:06] legoboyvdlp commented on #21
Found and fixed (I think)!

[2019-10-24 16:09] #21 closed

[2019-10-25 15:05] L1011H commented on #19
Sure I'll do it. Just to confirm, direct to master?

[2019-10-25 17:59] legoboyvdlp commented on #19
Yep, absolutely.

[2019-10-25 18:07] legoboyvdlp opened #22 "Bug - aircraft slides in high winds"
Aircraft will slide in winds >20 knots uncontrollably (seen on A320). Revise friction.

[2019-10-27 20:25] legoboyvdlp opened #23 "Todo - Rewrite EFIS Panel code"
**Is your feature request related to a problem or missing feature? Please describe.**
EFIS code is hard to read and uses old style code including getprop().

**Describe the solution you'd like**
Rewrite EFIS code using better methods.

Requirements:
 - Uses PTS as appropriate to communicate with other systems
 - Uses props.nas code
 - Interface with electrical system - should only work when dc-ess

[2019-10-27 20:27] #16 closed

[2019-10-27 20:30] legoboyvdlp opened #24 "Todo - organize Nasal/ folder"
**Is your feature request related to a problem or missing feature? Please describe.**
Nasal folder is messy.

**Describe the solution you'd like**
Sort it out.

[2019-10-27 20:32] legoboyvdlp opened #25 "Todo - make clock / chrono work"
**Is your feature request related to a problem or missing feature? Please describe.**
Neither the ND chronometer or the cockpit clock work.

**Describe the solution you'd like**
Make them work.

**Additional context**
Might need 3D work from @TH-555, as I recall the clock isn't ready for animating.

[2019-10-27 20:33] merspieler commented on #23
PTS?

[2019-10-27 20:34] legoboyvdlp commented on #23
Basically, to talk with electrical system you do it like this:

`systems.ELEC.Bus.dc1.getValue()`

and so on

Let me know if you need anything, hope this is ok ;)

[2019-10-27 20:34] merspieler commented on #23
Sure okay, just not sure when I'll get to it.

[2019-10-27 20:35] legoboyvdlp commented on #23
not a problem.

[2019-10-27 20:37] legoboyvdlp opened #26 "Todo - electrical system"
**Is your feature request related to a problem or missing feature? Please describe.**
Electrical system - check stability and complete

**Describe the solution you'd like**
Should have:
- complete ECAM warnings
- power / load simulation done
- fixed EMER ELEC CONFIG message
- work through FCOM distribution table and AMM tests
- circuit breakers - prepare for inclusion in 3D
- did I forget the gall

[2019-10-27 20:58] legoboyvdlp commented on #23
Ammended with info about FCU fault.

Refer to `fcu.FCUController.FCUworking` for dual channel fault.

[2019-10-29 06:44] colingeniet opened #27 "Bug - Incorrect FCU file name capitalization"
**Describe the bug**
File name capitalization `FCU.nas` from https://github.com/legoboyvdlp/A320-family/commit/11431782968684b2f3033a50e03770996b3ebf14 does not match the nasal include
[code]
This causes errors on case-sensitive file systems.

**To Reproduce**
Start the aircraft using a case-sensitive file system.

[2019-10-29 14:38] legoboyvdlp commented on #27
Should be fixed, pls let me know if not.

[2019-10-29 14:38] #27 closed

[2019-11-01 08:18] vezza opened #29 "Todo - Missing hydraulic system's features"
hydraulic system missing features:
Done:

In progress:

To-do:
* [x] when you set parking brakes the pressure indicator on the flight deck should indicate the brakes pressure;
* [x] when both green and yellow hydraulic systems are INOP, brakes should rely on yellow accumulator pressure, if accumulator pressure is = 0 brakes shouldn't work;
* [x] Bug - Brakes are working even if hydraulic pressure

[2019-11-01 08:27] vezza opened #30 "Todo - wingflex"
**Is your feature request related to a problem or missing feature? Please describe.**
Wingflex animation is missing

**Describe the solution you'd like**
add wingflex animation

[2019-11-01 10:21] legoboyvdlp commented on #29
Yep :)

[2019-11-01 10:21] legoboyvdlp commented on #30
absolutely, the wing is already cut for this

[2019-11-01 10:28] vezza commented on #30
Can I try to do this?

[2019-11-01 10:44] legoboyvdlp commented on #30
I meant, in the new model.

If you want to make the jsb part that controls the wingflex, would be good.

I think it should be affected by:
- lift of the wing (as lift increases, wing tends to rise) -- this **should** mean that as you pitch up / down it should also bend, I am not sure
- fuel in outer wing tanks
- sharklets - increased bending moment, maybe x1.5

[2019-11-01 10:45] legoboyvdlp commented on #29
Is this the brake system?

[2019-11-01 11:34] vezza commented on #30
Ok... I will follow this guidelines: http://wiki.flightgear.org/Wingflexer
is it ok?

[2019-11-01 12:49] legoboyvdlp commented on #30
It's is, yes

[2019-11-01 13:00] vezza commented on #30
Ok, I've already done the wingflex of the A350XWB, I hope I'll be able to do a nice work...

[2019-11-01 13:03] vezza commented on #29
Yes, the indicators on the flightdeck do not works...

[2019-11-01 14:04] vezza opened #31 "Todo - Brakes temperature"
**Is your feature request related to a problem or missing feature? Please describe.**
Missing brakes temperature

**Describe the solution you'd like**
- Add Brakes temperature;
- Add brakes fan (remind the panel switch/indicator);
- Add gear damage if temp > max_temp_limit.

[2019-11-01 14:08] vezza opened #32 "Todo - GPWS + Terrain on ND"
**Is your feature request related to a problem or missing feature? Please describe.**
GPWS is not complete

**Describe the solution you'd like**
- Add animation to GPWS indicators on the glareshield;
- Add Terrain on ND layer to the ND

[2019-11-01 14:10] vezza opened #33 "Todo - WXR on ND"
**Is your feature request related to a problem or missing feature? Please describe.**
WXR (weather radar) is missing

**Describe the solution you'd like**
- Add weather radar layer on ND

[2019-11-01 16:39] legoboyvdlp commented on #33
oh boy
lol

[2019-11-01 16:39] legoboyvdlp commented on #32
😱

[2019-11-01 16:40] legoboyvdlp commented on #31
If you want to do some research, I could use any data about carbon brake temperature.

[2019-11-01 19:31] vezza commented on #31
Brakes will indicate an amber HOT when the temp is 300° C or more. in the ECAM WHEELS page is shown the brake temp and an arc appears above the hottest brake temp. If brake temp is shown amber above 300° C. The brakes have to be cooled below 300° C before takeoff (Pilots should manually turn on the brake fans)

[2019-11-02 14:05] hayden2000 commented on #20
I've done some testing and the issue appears isolated to macOS, as I tried using the aircraft on Windows 10 and it worked just fine. I am going to try using a few other Macs I have access to and see if I can get the aircraft to work on them. In the meantime, let me know if I can help with this bug in any way, as I know most of you are on Windows/Linux.

[2019-11-02 14:18] legoboyvdlp commented on #20
I quite simply cannot reproduce on Windows.

Checking on Mac would be good.

[2019-11-02 14:18] legoboyvdlp commented on #31
yep, but at what rate does temperatue increase proportional to friction applied to brake pad, etc

[2019-11-02 14:47] hayden2000 commented on #20
In addition to main Mac, which already doesn't work.

I tried a secondary Mac that already had FG installed and it didn't work.

Plus I tried a clean install of FG on a third Mac and it still didn't work.

[2019-11-02 15:55] legoboyvdlp commented on #20
Someone on mac says IAE works. So that matches what you say that IAE works sometimes, sometimes not (which is even more wierd).

[2019-11-02 15:59] legoboyvdlp opened #34 "TODO - verify CFM56 sounds"
Exterior sounds too quiet.

[2019-11-02 17:35] vezza commented on #31
I have a math formula... but for the real data it is hard... to be true I don't know where to find them... is it possible to set some assumed numbers? Then if someone will provide real numbers then it will be easy to fix the assumed one's...

[2019-11-03 11:13] legoboyvdlp commented on #31
Yep sure.

[2019-11-03 17:04] vezza commented on #31
assumed that kinetic energy is converted in heat during braking as per the following equation

1/2 M V^2 = X Bm T
where:
M=Aircraft Mass
V=Ground Speed
X=brakes heat transfer index
Bm=Brakes mass
T=Braking time

I think it should be possible to calculate brakes temp

[2019-11-05 23:50] merspieler opened #35 "Bug - NW STRG DISC not amber when ENG running"
**Describe the bug**
A clear and concise description of what the bug is.
According to FCOM DSC-32-20-30 P1/2 the `NS STRG DISC` message becomes amber when an an engine is running

[2019-11-06 00:19] merspieler commented on #30
Another factor in wingbending is G-load due to turbulences

[2019-11-06 00:27] merspieler opened #36 "Feature Request - Weardown over flightcycles"
Have a weardown of certain components (ie. brakes and tires).

The higher the wear, the higher the chance of a failure.

An wear mulitplier option to increase wear cause we don't fly the sim as often as RL aircraft do.

A maintainance menu to repair certain parts.

Post version 1.0

[2019-11-06 17:12] legoboyvdlp commented on #35
thanks :+1:

this is already implemented?

`if (getprop("/engines/engine[0]/state") == 3 or getprop("/engines/engine[1]/state") == 3) {
		nw_strg_disc.colour = "a";
	} else {
		nw_strg_disc.colour = "g";
	}`

[2019-11-06 22:52] vezza commented on #31
Otherwise, as a first step, it is possible to adapt the Concorde brakes temp system...

[2019-11-07 05:58] merspieler commented on #35
Yep, I've overlooked it... my bad

[2019-11-07 05:58] #35 closed

[2019-11-09 05:57] merspieler commented on #15
@legoboyvdlp kgs or lbs as default?

[2019-11-09 09:24] legoboyvdlp commented on #15
kgs.

[2019-11-09 09:25] merspieler opened #37 "Remove rendering setting dialog and theme"
Due to the recent discussions on the mailing list (PA28 in FGAddon thread) we should remove these as well as the update dialog, before pushing to fgaddon

[2019-11-09 09:26] merspieler commented on #15
wilco

[2019-11-09 11:49] bunnyhappy commented on #20
Working on figuring out what is going on, I did find this error given in the fgfs.log every time I trigger a sound that doesn't play:
/Users/Shared/Hudson/MacRelease/simgear/simgear/sound/soundmgr_openal.cxx:868:AL Error (sound manager): Unknown Internal Error at sample play

[2019-11-09 12:15] hayden2000 commented on #20
Working on figuring out what is going on, I did find this error given in the fgfs.log every time I trigger a sound that doesn't play:
[ALRT]:sound      /Users/Shared/Hudson/MacRelease/simgear/simgear/sound/soundmgr_openal.cxx:868:AL Error (sound manager): Unknown Internal Error at sample play

Also found what appears to be a somewhat related issue: https://github.com/kcat/openal-soft/issues/337

[2019-11-09 20:39] merspieler opened #39 "Bug - Endless refueling"
**Describe the bug**
A clear and concise description of what the bug is.
In certain cases the refueling doesn't stop (stops when tanks are full).

**To Reproduce**
Steps to reproduce the behaviour:
* A:
  1. Set Requested Fuel Quantity to -10
  2. Klick refuel
  3. Observe endless fueling
* B:
  1. Set Reuqested Fuel Quntity to 10
  2. Klick more than once on refuel (wait until refuel is done befo

[2019-11-10 09:25] merspieler commented on #36
Tyre lasts for 150-200 cycles

[2019-11-10 18:19] legoboyvdlp commented on #37
Definitely not; I am not going to compromise the user experience to suit those who have nothing better to do with their time than to pull apart others' work.

Sorry, maybe I am too grumpy tonight

The correct solution is as already suggested to add the themes to FGDATA, not needlessly destroy work.

[2019-11-10 18:20] legoboyvdlp commented on #39
Argh!

Ok, thanks. I thought I checked for the negative fuel case.

[2019-11-10 18:22] legoboyvdlp commented on #20
That definitely sounds like a typical dependency bug (given that it is platform specific) so yeah probably best to ask openAL to see if they have a solution. Notice FlightGear can and has done fixes - we can't fix bugs actually in openAL but we can fix things in the API used to talk to openAL

[2019-11-11 02:59] merspieler commented on #37
by remove I've just ment from the repo... not in general...

[2019-11-11 18:31] legoboyvdlp commented on #39
Can we accept that the fuel system will overrun by between 0 < n < 9 lbs the requested fuel quantity, due to how the timer controlling the refuel valves works?

[2019-11-12 06:07] merspieler commented on #39
I don't think, the real one is that accurate as well...

[2019-11-12 16:57] #39 closed

[2019-11-16 11:57] #19 closed

[2019-11-16 12:13] #24 closed

[2019-11-16 18:28] legoboyvdlp commented on #23
If you don't have time to do this I can try it.

[2019-11-17 07:24] vezza commented on #30
Where is the new 3D model? Someone is working on it? Do we have a forecast on when it will be merged?

[2019-11-17 09:14] legoboyvdlp commented on #30
Yes, it's been worked on for about a year now by CaptB, estimated in January.

[2019-11-18 15:29] merspieler commented on #23
Go ahead... I won't getting to it before December

[2019-11-22 22:23] vezza commented on #31
The 777 also has a brakes temp system...

[2019-11-30 16:07] merspieler opened #42 "Bug - DME backup not lit by dome lt"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start at night
2. Turn on DOME LT
3. Observer backup DME instrument

**Expected behaviour**
A clear and concise description of what you expected to happen.
Instrument is lit by DOME LT

[2019-11-30 16:08] merspieler opened #43 "Bug - APU fire test doesn't sound on battery power"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start cold and dark
2. Turn on batteries
3. Press APU FIRE TEST btn
4. No waring sound

**Expected behaviour**
Warning should sound

[2019-11-30 16:10] legoboyvdlp commented on #43
Thank you, looks like the elec supply is messed up!

[2019-11-30 16:11] merspieler opened #44 "Bug - APU master and start sw not powered by battery"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start cold and dark
2. Turn on batteries
3. press APU MASTER and APU START sw
4. No `ON` sign

**Expected behaviour**
The switches show `ON`

[2019-11-30 16:12] legoboyvdlp commented on #42
reproduced, thanks, looks like only the needles get lit?

[2019-11-30 16:27] merspieler commented on #42
affirmative

[2019-11-30 16:37] merspieler opened #45 "Bug - APU page always shows FUEL LO PR"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the APU
2. observe LECAM

**Expected behaviour**
System should work normally

[2019-11-30 18:16] legoboyvdlp commented on #45
These APU bugs need a jsbsim apu

[2019-12-01 09:35] merspieler opened #46 "Bug - FLOOD LT PED doesn't illuminate flap lever scape"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start at night
2. Turn on the FLOOD LT PED
3. Observer flap lever scale

**Expected behaviour**
A clear and concise description of what you expected to happen.
Scale gets illuminated as all other markings

[2019-12-01 21:46] vezza opened #47 "Bug - RAT not working as expected"
**Describe the bug**
RAT not working as expected:
1) if in "auto" mode it should automatically deploy if airspeed > 100 knots and both AC1 and AC2 are lost/failing;
2) if in "manual" mode it should deploy when yuo open the guard and push the key even in cold and dark cockpit.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to A320 Cockpit (in flight or on the ground)
2. On the ELEC EMER

[2019-12-02 04:22] merspieler opened #48 "Bug - Audio switching has the wrong knob"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
Audio switching knob on the upper OVHD panel is the wrong one

**Expected behaviour**
A clear and concise description of what you expected to happen.
Should be like the knobs on the switching panel

[2019-12-02 16:41] legoboyvdlp commented on #47
I think I forgot to actually make it deploy the RAT - does the EMER GEN itself turn on?

[2019-12-02 22:18] vezza commented on #47
yes, the EMER GEN turns on both in auto and in manual mode... it seems that the property /controls/hydraulic/rat-deployed isn't set to true when EMER GEN gets activated

[2019-12-03 19:32] legoboyvdlp commented on #47
Fixed.

[2019-12-03 19:32] #47 closed

[2019-12-04 05:58] merspieler opened #50 "Feature Request - Set QNH when changing panel state"
Set current QNH when changing panel state to `Ready for Taxi` or `Ready for Takeoff`

[2019-12-04 19:01] legoboyvdlp commented on #50
Good idea, thanks

[2019-12-07 06:41] #13 closed

[2019-12-19 07:02] merspieler opened #51 "Bug - AP DISC alert sounds only once"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Disconnect the AP with Shift + d
2. Observe: Aural warning sounds only once

**Expected behaviour**
A clear and concise description of what you expected to happen.
Aural warning sounds until cancled

[2019-12-19 07:05] merspieler opened #52 "Bug - Stall warning while taxiing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Taxi at 10kn with 15kn wind form behind
2. Do a 90 degree turn to either side
3. Observe Stall warning

**Expected behaviour**
A clear and concise description of what you expected to happen.
No stall warnings while taxiing

[2019-12-21 12:55] legoboyvdlp commented on #51
Incorrect, it will sound three times when a soft disengage happens.

[2019-12-21 12:58] #51 closed, assigned to legoboyvdlp

[2019-12-21 13:06] legoboyvdlp commented on #52
Best report this to jsbsim, aoa shouldn't be weird on the ground, probably some numerical issues.
I will increase the value which I adjust the aoa by to avoid this then to 30 knots...

[2019-12-21 13:18] merspieler commented on #9
DSC-22_10-10 P 3/6 describes Airline Modifiable Information (AMI)... which should be a good start

[2019-12-21 13:41] #52 closed, assigned to legoboyvdlp

[2019-12-29 22:15] mattmaring commented on #20
I've made an initial fix for the sounds on Mac. It appears that the external sounds are the culprit for the missing sounds. I'll keep tweaking this to make sure its working correctly, but it appears the external sounds need to be explicitly disabled while in internal views. I'd imagine there is a more efficient way to do this, but this did work quite well on Mac.

[2019-12-30 09:26] legoboyvdlp commented on #20
That looks fine, is it ready to merge back?

[2019-12-30 14:07] mattmaring commented on #20
Yeah, I'd say so. Added a pull request

[2019-12-30 14:07] #20 closed

[2020-01-07 15:15] merspieler opened #57 "Bug - Warning sounds when switching view"
**Describe the bug**
A clear and concise description of what the bug is.

Warnings sound when switching from outside to inside view.

**To Reproduce**
Steps to reproduce the behaviour:
1. Take off
2. Engage A/THR
3. Go to outside view
4. Retard the THR LVR a bit (to trigger THR LIMIT warning)
5. Switch back inside and hear the sound now.
6. Switch forth and back between view.
7. Return THR LVR to

[2020-01-07 16:10] merspieler commented on #45
Seems to be fixed

[2020-01-07 16:10] #45 closed

[2020-01-07 20:47] legoboyvdlp commented on #57
Huh, shouldn't happen, will check.

[2020-01-07 20:53] vezza opened #58 "Bug - In-flight start crash (Error 0x223)"
**Describe the bug**
It is not possible to start the aircraft with an in-flight scenario

**To Reproduce**
Steps to reproduce the behaviour:
1. Start FG in an in-flight scenario (example: 6000ft - 190kn - 30nm from an airport runway);
2. See a "Something happened" Red window showing: Error 0x223

**Expected behaviour**
Start the aircraft with an in-flight scenario

**Screenshots**

** System (plea

[2020-01-07 21:14] legoboyvdlp commented on #58
Hi,
This is not a bug. The aircraft does not support in flight start yet.

[2020-01-07 21:14] #58 closed, assigned to legoboyvdlp

[2020-01-07 21:50] legoboyvdlp commented on #57
Reproduced, it happens because I inhibited warning sounds in exterior views.

[2020-01-12 10:37] vezza opened #59 "Feature Request - In-flight start crash (Error 0x223)"
**Is your feature request related to a problem or missing feature? Please describe.**
It would be great if it will be possible to start in an in-flight scenario

**Describe the solution you'd like**
see Space Shuttle or SU-27SK

**Additional context**

[2020-01-22 18:29] colingeniet opened #61 "Bug - Incorrect units in refuel dialog"
**Describe the bug**
In the refuel dialog, fuel quantities indicate thousands of pounds, but are labelled 'KG x 1000'.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open refuel dialog: Utilities->Refuel Panel
2. Compare fuel quantities with ECAM or Fuel and Payload dialog

**Expected behaviour**
Fuel quantities displayed in metric tons, or 'lbs x 1000' as labels.

**Screenshots**
If appli

[2020-01-28 23:26] dirteat commented on #20
@hayden, which version of openAL do you have installed. Started to get exactly the same problems with the Shuttle, loosing external sounds at some point. It started with openAL >= 1.19.
Thanks!

[2020-01-28 23:33] mattmaring commented on #20
I have openAL 1.19.1. At least for the A320, the problem was not explicitly silencing external sounds in the internal views. Definitely an annoying bug with openAL.

[2020-02-01 11:30] merspieler opened #62 "Bug - Batteries charge without any other power source"
**Describe the bug**
A clear and concise description of what the bug is.
Batteries start charging without any other power source provided

**To Reproduce**
Steps to reproduce the behaviour:
1. Start cold and dark
2. Turn BAT1 on
3. Observer Voltage

**Expected behaviour**
A clear and concise description of what you expected to happen.
Batteries charge only if there's a power source, delivering pow

[2020-02-02 20:57] merspieler commented on #4
Some information on the system behind it, is [here](https://www.slideserve.com/gizela/ads-b-avionics-solutions)

[2020-02-02 22:03] merspieler commented on #8
The [FG1000](http://wiki.flightgear.org/G1000#Multikey_Support) seems to support entering text directly (not tested tho)

[2020-02-03 12:22] #61 closed, assigned to merspieler

[2020-02-03 13:17] #50 closed

[2020-02-09 10:28] colingeniet opened #66 "Feature Request - Enable partial 3D model loading in multiplayer"
**Is your feature request related to a problem or missing feature? Please describe.**
Currently, the 3D model is loaded all at once for multiplayer models. This means that only the yellow-blue glider is displayed until the model is fully loaded, which can take some time (usually ~10s for me).

**Describe the solution you'd like**
- Add a fallback low-res model. They are ugly, but better than the y

[2020-02-10 15:08] #66 closed, assigned to legoboyvdlp

[2020-02-10 17:27] merspieler opened #69 "Feature Request - Save aircraft state between sessions"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Save state of certain things and load them on startup.
List (non-exhaustive):
* Fuel level
* Eng oil level
* Bat charge (accunt for discharge while fg is not running?)

@legoboyvdlp what would be the best way to implement this?

**Additional context**
Add any other context or screenshots about the fea

[2020-02-11 12:03] legoboyvdlp commented on #69
same way as the space shuttle

[2020-02-11 12:43] merspieler commented on #69
i took a look at save.nas... looks doable. only difference is, how do we trigger saving on fg exit?

[2020-02-12 11:44] merspieler opened #71 "Feature Request - Cleanup the repo"
Remove duplicated and unused files.

[2020-02-12 11:46] merspieler opened #72 "Feature Request - Interior shadow with cubemap"
Add a cubemap to get shadows inside the cockpit

[Wiki entrly](http://wiki.flightgear.org/ALS_technical_notes#Interior_shadows_and_tinted_glass_effect)

[2020-02-12 12:11] merspieler opened #73 "Bug - Remove remaining IDG label in cockpit"
modify file `Models/FlightDeck/res/main_labels.png`

[2020-02-12 12:16] merspieler opened #74 "Feature Request - Dim pop up canvas as well"
**Is your feature request related to a problem or missing feature? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When flying at night, the pop up canvas is still at full brightness. This is as well applicable for
remotly displayed ie. in fgqcanvas.

**Describe the solution you'd like**
A clear and concise description of what you wan

[2020-02-12 16:17] merspieler opened #75 "Feature Request - Missing pfd features"
@hayden2000

Done in this phase:
* ILS warning flash
* Flashing QNH/STD when above/below transition alt/level
* Pulsing alt box, when about to reach selected alt
* V1, VR, V2 indications on PFD
* Fix ILS location
* ILS message stops flashing too early, change trigger property
* Flaps (F and S) speeds
* Max flap speeds
* Green dot speeds

[2020-02-12 19:16] legoboyvdlp commented on #72
Impossible. I can explain later no time.

[2020-02-12 19:16] #72 closed, assigned to legoboyvdlp

[2020-02-20 17:32] legoboyvdlp commented on #57
@merspieler confirm gone? ty

[2020-02-20 17:33] legoboyvdlp commented on #46
Luckily I found the blender file I thought I lost...

[2020-02-20 17:34] legoboyvdlp commented on #73
At this point, if Thorsten doesn't get back to me by the end of the month, he can deal with conflicts and I will start opening cockpit 3D  / textures for modifications again.

[2020-02-20 17:39] legoboyvdlp commented on #46
Looks like its a bug / problem in blender - so I will try and do it in GIMP.

[2020-02-20 17:42] legoboyvdlp commented on #71
Mind giving examples please?

[2020-02-20 17:46] #46 closed

[2020-02-20 17:48] legoboyvdlp commented on #44
Looking at the manuals for this. I can't find the power source of the lights. Might need to try and find the AMM for the APU, I think I had it noted but not downloaded.

[2020-02-20 17:50] legoboyvdlp commented on #44
according to pprune:

[2020-02-20 19:17] merspieler commented on #71
* the cube map, 0001.png through 0006.png exists twice
* Old ND items
* Empty sounds
* Probably more

See the cleanup branch for details on what I've found so far, that can be removed

[2020-02-21 05:50] merspieler commented on #57
@legoboyvdlp negative, still occures. (also note, that the detend sound is hearable outside)

[2020-02-23 19:28] mattmaring opened #78 "Feature Request - APPR page on MCDU"
Add an APPR phase page to the MCDU under PERF

**Additional context**
Just necessary stuff for pfd such as VAPP, DEST QNH, F, S, O, VLS, etc

[2020-02-24 17:21] legoboyvdlp commented on #78
Ok. :+1:
Thanks!

[2020-02-29 16:15] legoboyvdlp commented on #75
Thanks hayden 👍
PFD looking a lot better now - can't wait to see your next features!

[2020-02-29 21:31] mattmaring commented on #78
Added to pfd branch, I'll connect this at a later time. Closing for now.

[2020-02-29 21:31] #78 closed, assigned to mattmaring

[2020-03-06 16:22] denialwaits opened #80 "Feature Request -"
**mcdu**
It would be great to have a fully functioned MCDU with Fplan, Star , Sid etc so that the aircraft actually is used 100% realistically ! Thank you for your amazing work anyways!

[2020-03-07 11:28] legoboyvdlp commented on #80
This is already being worked on as posted multiple times on the forums.

[2020-03-07 11:28] #80 closed, assigned to legoboyvdlp

[2020-03-07 11:55] legoboyvdlp commented on #75
I've changed the timer to double the period - there are some specifics of the altitude alert that probably could be better (e.g. sometimes it flashes amber, sometimes yellow depending on whether you are approaching a selected altitude or deviating from it but currently it appears that it only flashes yellow) but I will improve it later and add a C-Chord sound as well.

I can improve the APPR page

[2020-03-07 12:05] legoboyvdlp commented on #75
Added elevation feature

Useful resource:
https://www.youtube.com/watch?v=n3TJMro_NzA

[2020-03-09 18:43] #73 closed, assigned to merspieler

[2020-03-09 18:43] legoboyvdlp commented on #74
Is it even possible to do this?

[2020-03-09 18:44] legoboyvdlp opened #82 "Feature Request - dirt effect on displays"
Add dirt / dust / LCD shader as on Shuttle

[2020-03-11 05:12] Marsdolphin opened #85 "Feature Request - Glass Rain and Frost"
**Is your feature request related to a problem or missing feature? Please describe.**
I am thinking of rain glass effect like the ones on the FGUK heli and the frost from the 787 to be implemented on other airliners such as the A320.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Just effects for the glass.

**Additional context**
Add any other co

[2020-03-11 08:31] merspieler commented on #74
Does fg support semi transparent areas? If so, just draw a black square over the entire area and modify it's alpha.
I'll take a look at this, if I find the time to do so today.

[2020-03-12 00:41] Marsdolphin commented on #85
Also if the effect is there we need wipers, and a new de-icing system, or its too blurry to fly!?

[2020-03-12 01:08] mattmaring opened #87 "Feature Request - Easier Internal View Movement"
Add key-binding similar to 'c' for centering the view, but extend to other internal views necessary for flight such as overhead, lights panel, autopilot area, and pedestal (with movement so it feels more like looking around the cockpit rather than switching views). Thinking about using y, u, i, o keys so that laptops can take advantage as well.

y - autopilot
u - pedestal
i - lights
o - overhead

[2020-03-12 06:05] merspieler commented on #74
It kinda works... but there seems to be a bug. As soon as I add the semi transparent area, EVERYTHING becomes transparent so you can look through the popup.

[2020-03-12 18:01] legoboyvdlp commented on #74
Ah yeah.
I think same thing happened in shuttle unfortunately.

It's required tho to have it transparent to have dirt effects etc afaik. So maybe we can accept that its transparent? How bad is it?

[2020-03-13 07:54] merspieler commented on #74
if I see it right, the more you dim, the more transparent it gets... so full brightness -> ok, no brightness -> fully transparent.

[2020-03-14 19:27] #69 closed, assigned to merspieler

[2020-03-16 07:26] Marsdolphin commented on #22
Bug happened again.
https://forum.flightgear.org/viewtopic.php?f=4&t=36410&start=450

[2020-03-16 12:00] #87 closed, assigned to mattmaring

[2020-03-16 12:25] legoboyvdlp commented on #22
Fairly sure this is unrelated as I figured out that JSBSIM crashes cause it while your JSBSIM obviously didn't crash?

[2020-03-17 06:22] Marsdolphin commented on #22
Oh ok.
The what happened to me?

[2020-03-17 06:23] Marsdolphin commented on #85
Issue closed?!
Because it seems like the pull is merged.

[2020-03-17 13:07] #85 closed, assigned to legoboyvdlp

[2020-03-19 21:45] vezza commented on #42
I've just pushed a bug fix... the lighting of the ddrmi instrument is controlled by the "INTEG LT - MAIN PNL & PED" knob on the pedestal panel.
Anyway it seems to me that DME indicators aren't working... can someone check?

[2020-03-20 18:00] legoboyvdlp commented on #42
It still doesn't work...?

![image](https://user-images.githubusercontent.com/10434911/77192556-a873e500-6ad4-11ea-9591-17c859423796.png)

![image](https://user-images.githubusercontent.com/10434911/77192603-b6296a80-6ad4-11ea-8f4d-97b005940a89.png)

Does look good with the panel light on though.

The clock still needs lit too, both with panel flood and dome.

[2020-03-20 20:16] merspieler commented on #42
Yes... doesn't seem to work in your 1st pic

[2020-03-20 20:38] vezza commented on #42
I mean that DME-1 and DME-2 display's do not show any information...

[2020-03-20 21:21] merspieler commented on #42
Afaik they are not yet implemented.

@vezza As well for you. please pull with `git pull --rebase` to avoid unnecessary merge commits.

[2020-03-20 21:28] vezza commented on #42
Ok thanks... As for the lighting I've now realized what you both mean... I'm having a look at it now

[2020-03-21 21:58] mattmaring opened #96 "Bug/Feature Request - Fix speed logic on PFD"
Speed behaves oddly and causes bugs with new PFD features, needs logic rewrite to more closely match FCOM/A320 behavior.

So far I've found these, but I'm sure more will emerge when I get around to testing it thoroughly.
- V-speeds not displayed until t/o thrust set (should be visible on ground)
- In managed mode, speed doesn't seem to react to t/o sequence quick enough

[2020-03-22 18:35] #96 closed, assigned to mattmaring

[2020-03-22 18:43] mattmaring opened #99 "Feature Request - MCDU/PFD Speed Rewrite"
Completely rewrite the speed logic to more accurately model the actual logic:
Fixes issues #8, #75, #78, and #96

MCDU changes:
- INIT: A, IRS INIT, FUELPRED, B
- PERF: TO/CLB/CRZ/DES/APPR/GA
- PROG: TO/CLB/CRZ/DES

FMGC changes:
- APPR logic (done)
- GA logic (done, bugs in unrelated code)
- Rewrite alt logic (done)
- Rewrite speed logic (done)
* [x] Use V1SG to preform all speed calcs, save as v

[2020-03-22 19:16] legoboyvdlp commented on #42
I'll implement the DME shortly. Thanks for fixing!

[2020-03-22 19:16] #42 closed

[2020-03-22 22:29] mattmaring commented on #99
@legoboyvdlp, would you like the fuel values in INIT-B to be kg or lbs?

[2020-03-23 00:21] legoboyvdlp commented on #99
Lbs please - I need to do KG sometime but I will do it all together.

[2020-03-23 21:08] legoboyvdlp opened #100 "Nasal error"
Nasal runtime error: non-objects have no members
 4818.91 [ALRT]:nasal        at C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Nasal/MCDU/F-PLN-rework.nas, line 302
 4818.91 [ALRT]:nasal        called from: C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Nasal/MCDU/F-PLN-rework.nas, line 207
 4818.91 [ALRT]:nasal        called from: C:/Users/redpa/Documents/Flight

[2020-03-24 04:02] merspieler opened #101 "Bug - Refuel preselect"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Refuel panel
2. Preselect 10
3. 2 decimal places wher there should be only one

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

** System (please complete

[2020-03-24 04:41] #101 closed, assigned to merspieler

[2020-03-24 04:43] merspieler commented on #99
The idea was to keep the system in lbs and just change the display to KG, if the user wants to

[2020-03-24 20:56] legoboyvdlp opened #102 "DME and rudder trim - add OSG Text items"
missing

[2020-03-24 22:40] vezza commented on #29
I have reviewed this issue and I must confess I misunderstood the brakes pressure indicator on the flightdeck... It work fine except in one case: when you set parking brakes it should indicate the brakes pressure as the parking brake is operated by the yellow hydraulic system. The indicator on the flight deck shows only the yellow hydraulic pressure when in ALTN BRK mode or when parking brake is s

[2020-03-25 09:51] legoboyvdlp commented on #33
See do328

[2020-03-25 09:52] #31 closed

[2020-03-25 09:52] legoboyvdlp commented on #23
Actually, wrong, I didn't do it yet.

[2020-03-25 09:53] legoboyvdlp commented on #22
I don't really know to be honest.

[2020-03-25 09:54] legoboyvdlp commented on #71
Anything more or close?

[2020-03-25 10:00] merspieler commented on #71
I think there are a bunch more things... mainly textures. Just need to check, if they are still used.
As well what about the `OHpanel` vs `OHpanel.new`?

Best would be to write a script that goes through all files and checks, if it's still referenced anywhere. I've got the feeling that we have as well a bunch of xml files around, that aren't used.

[2020-03-25 10:05] merspieler commented on #71
Broken liveries: `Models/Liveries/A320/*/BROKEN/*`

[2020-03-25 10:52] vezza commented on #25
Is it possible to overlay a canvas text over the chrono?

[2020-03-25 11:46] legoboyvdlp commented on #25
I'm not sure, might be possible?

Or OSG text as well. Maybe more efficient.

[2020-03-25 11:48] legoboyvdlp commented on #71
Ok :+1:

OHpanel.new, I will probably eventually merge but I can move to WIP directoy (which isn't on .git)

[2020-03-25 11:49] legoboyvdlp commented on #71
I will nuke broken liveries now...

[2020-03-25 15:21] legoboyvdlp opened #104 "Flashlight doesn't illuminate rear breakers"
![image](https://user-images.githubusercontent.com/10434911/77552462-7b944900-6eab-11ea-9ca9-2cf677b4698d.png)

[2020-03-25 15:49] merspieler commented on #71
I've run `fdupes` to find duplicate files... which seems like we've got quite a few of them.
Would it make sense to remove the duplicates and use a single file instead?

104 duplicate files (in 74 sets), occupying 33.8 megabytes
[code]

[2020-03-25 16:44] legoboyvdlp commented on #71
Well,

For sounds - definitely, but it needs to edit the .xml file obviously.

 Please don't touch OHpanel.new for now (except for unused textures).

In terms of liveries, with CFM / IAE, unless you can make it so it reads a common directory for liveries as well as their own unique ones, probably best not 🤔

[2020-03-25 17:11] mattmaring commented on #8
I'll work on this :)

[2020-03-25 17:59] merspieler commented on #71
I wouldn't touch the liveries... they'll get thrown out soon anyway.

[2020-03-25 20:14] #100 closed, assigned to legoboyvdlp

[2020-03-25 20:15] legoboyvdlp commented on #100
fixed now. locally.

[2020-03-25 20:46] #71 closed, assigned to legoboyvdlp, merspieler

[2020-03-25 20:48] legoboyvdlp opened #105 ""autopilot is NAN""
No more details available. Anyone any ideas? Appears randomly on about 10% of flights.

Spams the console, appears to be harmless but annoying.

[2020-03-25 21:52] vezza commented on #25
Don't know if it is possible... it seems that canvas is to be preferred over OSG text, see: https://forum.flightgear.org/viewtopic.php?t=36287

Anyway I'm going to try OSG text as it seem way more simple to implement...

[2020-03-25 22:40] mattmaring commented on #8
Is the walker being used? It doesn't seem to be working for me and is causing issues with the MCDU key bindings.

[2020-03-25 23:21] legoboyvdlp commented on #8
Yes, it is - use the menu item to spawn a walker outside?

The MCDU key bindings must be toggleable though e.g. if you click the screen, or something so the walker could be disabled if the keyboard mode is active or vice versa?

What are the specific issues?

[2020-03-25 23:24] mattmaring commented on #8
Ok, cool

I'm not super familiar with xml, but this is the line giving me trouble:
`<PropertyList include="Aircraft/Generic/Human/Include/walker-include.xml">`

How would temporarily not include that path later in the file?

[2020-03-26 00:30] mattmaring commented on #8
I've pushed the my progress to the speed-rewrite branch. The two issues I see:
- walker as described above
- for some reason it has disabled the '/' shortcut to the property browser, calling the gui.property_browser(); doesn't work

How to use:
Enable MCDU mode: shift-n
Disable MCDU mode: shift-m
Letters: lowercase key (I can add uppercase as well, if desired)
.: dot
/: slash
delete (macOS)/backsp

[2020-03-26 11:25] legoboyvdlp commented on #8
Excellent!

I'll check out the property browser now. As for the walker, I'll need to talk to the mailing list about that I suppose 🤔

[2020-03-26 11:27] legoboyvdlp commented on #8
It says :

"The Keys "a", "A" and "s" have their normal Binding when not in Walk View or Walker Orbit View."

Unfortunately it does that by overriding the default ones.

I'll need to talk to the mailing list.

[2020-03-26 11:31] legoboyvdlp commented on #8
Actually - what about copying the keybindings from the referred-to walker-include.xml file, and adding your extra functionality? Doesn't adding your own keybindings _later_ in the -main.xml file override any keybindings added by the -include.xml file?

[2020-03-26 13:24] mattmaring commented on #8
Cool, got both the walker and property browser working!

[2020-03-27 12:08] #104 closed, assigned to merspieler

[2020-03-27 12:24] merspieler commented on #37
I assume, this can be closed, since it's in fgaddon now

[2020-03-27 12:24] #37 closed

[2020-03-27 12:24] merspieler commented on #26
What's the status here?

[2020-03-27 12:27] legoboyvdlp commented on #26
EMER elec fixed, galley buses afaik too, ECAM warnings

power / load / CB not done

[2020-03-27 12:27] legoboyvdlp commented on #104
Thanks :)

[2020-03-27 15:41] legoboyvdlp opened #107 "Master List - FMGC"
:tada:

Post 2020.2 -- use wp.hidden.

[2020-03-29 11:55] merspieler commented on #5
Take a look at `$FGDATA/Nasal/view.nas` functions `view.point.save();` and `view.point.restore();`

[2020-03-30 21:25] vezza commented on #25
Hi, I've pushed some new code into chrono_dme branch... the following should work, please test for bugs:
- DME1 and DME2 indicator's on DDRMI (flightdeck)
- chrono (flightdeck)
- clock (flightdeck)
- ET chrono (flightdeck)
- Rudder trim indicator (pedestal)

Unfortunalely my 3D skills are very basic and probably I did something wrong as now the Clock_glare.png doesn't gets shown on the clock... If

[2020-03-30 21:26] vezza commented on #102
Hi, I've pushed some new code into chrono_dme branch... the following should work, please test for bugs:

DME1 and DME2 indicator's on DDRMI (flightdeck)
chrono (flightdeck)
clock (flightdeck)
ET chrono (flightdeck)
Rudder trim indicator (pedestal)
Unfortunalely my 3D skills are very basic and probably I did something wrong as now the Clock_glare.png doesn't gets shown on the clock... If you know

[2020-03-31 10:35] legoboyvdlp commented on #102
Nice :)

I will check that. It is somewhat important that it shows up...

[2020-03-31 12:10] vezza commented on #25
I'm still working on the chrono logic... it should count till 99:59 (min:sec) actually it counts to 59:59 (min:sec)

[2020-03-31 20:20] vezza commented on #25
Ok now the chrono is fixed... it is fine for me (except for the Clock_glare.png)

[2020-03-31 20:37] vezza commented on #75
Added Chronometer indicator: Numbers appear when the onside chronometer is started. They display the elapsed time. The indication is in minutes and seconds from 0 to 59 min 59 s, and in hours and minutes from 1 h to 99 h 59 min (Seconds are not displayed beyond 59 min 59 s).

[2020-03-31 22:44] legoboyvdlp commented on #75
Surely this is on ND rather than PFD?

[2020-04-01 06:25] vezza commented on #75
Yes sorry... moved to: Feature Request - ND missing features #109

[2020-04-01 07:00] vezza opened #109 "Feature Request - ND missing features"
ND missing features

Done:
* [x] PLAN mode
* [x] On new aircraft when the range is 10nm in ARC mode, the 8 and 3 nm rings are now labeld 7.5 and 2.5.

In progress:

To-do:
* [X] Chronometer indicator (white)
* [X] GPWS + Terrain on ND
* [X] WXR on ND
* [ ] Airport moving map (is an option since 2014, see #4 )
* [ ] Temporay flightplan
* [X] TCAS indication
* [X] Only works when IRS is aligned?????

[2020-04-01 07:01] vezza commented on #33
See: Feature Request - ND missing features #109

[2020-04-01 07:01] #33 closed

[2020-04-01 07:02] vezza commented on #32
See: Feature Request - ND missing features #109

[2020-04-01 07:02] #32 closed

[2020-04-01 07:17] vezza commented on #4
See: Feature Request - ND missing features #109

[2020-04-02 18:05] mattmaring commented on #8
I've made improvements on the latest push on the speed-rewrite branch:
- Text entry now enabled/disabled based on visibility of MCDU gui dialog
- Independent text entry for left/right MDCU now allowed
- Support for caps lock and shift when entering letters
- Remove key bindings for shift-n/shift-m for enable/disable (to allow the above to work)

[2020-04-02 18:14] merspieler commented on #8
um... what for do we neet capitals?... or rather lower case.

[2020-04-02 18:21] mattmaring commented on #8
I've been using it for a few weeks and found it kinda weird only having half of the key commands  when in the keyboard mode, especially since it can cause scenarios where you can perform an action but not undo it:

For instance if you accidentally type Shift-v instead of v, you'll be progressed to a different view. To get back to the previous view, you would need to disable keyboard entry mode, pr

[2020-04-02 18:57] merspieler commented on #8
Yep... makes sense... I was only thinking about contolling the MCDU.

[2020-04-03 22:20] vezza commented on #25
Do someone tested the chrono? After rebuilding FG next from source it doesn't work anymore

[2020-04-10 19:16] mattmaring opened #110 "Bug - Altitude alert/sound during go-around"
**Describe the bug**
When going around (applying toga thrust, bringing gear up, etc) the alert will sound as if you are off of autopilot, even though it is still engaged. Pretty sure this is not correct (video below supports this), especially if the holding fix is a few thousand feet up, the chord sounds for the entire climb (until ±750).

https://www.youtube.com/watch?v=L0IYkMVJBL4

**To Reproduc

[2020-04-10 19:20] mattmaring commented on #75
Rest will be completed with the speed rewrite, closing this now :)

[2020-04-10 19:20] #75 closed, assigned to mattmaring

[2020-04-10 21:05] legoboyvdlp commented on #110
Hmm, it should be inhibited if slats are extended. To confirm that is not happening?

Definitely not right, thanks for reporting.

[2020-04-10 21:05] legoboyvdlp commented on #75
Great work and many thanks indeed :)

[2020-04-11 21:18] merspieler opened #111 "Feature Request - Copy active flightplan to default routmanager"
Copy the currently active flightplan to the default route manager so it shows up on phi and the default maps.

[2020-04-12 18:27] mattmaring commented on #99
I have completed most of the speed rewrite. Protection speed bars have also been added along with a bunch of speed/phase/mcdu improvements. Go-around is done and will work properly once the two bugs (alt alert and decel distance) are fixed.

Once I get the current work stable and prepare the SVG files for merging, I'll get started on merging with the flightplan.
![Screen Shot 2020-04-12 at 1 30 57

[2020-04-13 10:45] #8 closed

[2020-04-13 11:05] legoboyvdlp opened #113 "Speed rewrite changes"
Functional errors found during review:

- the format of the latitude / longitude on INIT A I believe to be wrong - it should be as such:
![image](https://user-images.githubusercontent.com/10434911/79114907-64df6480-7d7c-11ea-9287-33c21c038424.png)

I have code to translate to that format already.
- after the IRS INIT prompt disappears you can still spawn the IRS page from INIT A by clicking button

[2020-04-13 11:14] merspieler commented on #113
Actually this is a thing that applies to almost all dual value (`/` seperated) fields that just entering something without the / sets the first field and `/<value>` sets the second.

[2020-04-13 11:17] legoboyvdlp commented on #113
yep 👍

[2020-04-13 11:19] merspieler commented on #44
I couldn't find anything in the docs. But it has to be either ac-si-ess or dc-bat as these are the only two that are powered at that time.

[2020-04-13 12:23] mattmaring commented on #113
Cool, I wanted to focus on breaking changes before updating the entry formats. I'll go through and correct all of those (I've got a list going, there are others as well).

- Lat/Lon needs updated on IRS INIT as well (tho that one is a different format), I'd definitely appreciate using code you already have :)
- As for company routes, my plan is eventually to have a database file for the other defa

[2020-04-13 12:38] mattmaring commented on #113
Additional list of things for myself to fix:
- Hide speed protection bars before ILS aligned
- VLS adjustment for height
- Add big/small text adjustments to mcdu

(FPLN integration - might be done here or later on another brach, depending on how long the above bug fixes take)

[2020-04-13 12:46] legoboyvdlp commented on #113
PERF TO runway should be the selected departure runway in the DEPARTURE page of the MCDU. I can do that shortly.

PERF APPR wind, sorry, I didn't finish writing!

I entered 060/24 and got 60/4 - I am unsure if that is correct - does it trim off the leading zero?

In terms of managed speed, the FMGC was commanding VAPP speed. However, with flaps zero, that was into the speed protection bars!

[2020-04-13 12:52] legoboyvdlp commented on #113
I think I have some on LATREV page?

[2020-04-13 12:53] mattmaring commented on #113
That's odd, I tried entering 060/24 and it worked just fine. It will accept any wind value, but it does trim (5, 15) in the calcs.
<img width="343" alt="Screen Shot 2020-04-13 at 8 53 36 AM" src="https://user-images.githubusercontent.com/56924612/79121836-44a3ab80-7d64-11ea-8177-5b897126be9a.png">

For managed speed, it should display VAPP as the target, but will fly the VLS for that flap config.

[2020-04-13 12:55] legoboyvdlp commented on #113
Ok - that's great!

[2020-04-13 15:44] legoboyvdlp commented on #113
For the runway:
if fmgc.flightPlanController.flightplans[2].departure_runway != nil, setText to the value stored in fmgc.flightPlanController.flightplans[2].departure_runway.id

that will add info to field R1 on the PERF TO page

[2020-04-14 09:39] #82 closed, assigned to merspieler

[2020-04-16 16:27] legoboyvdlp commented on #107
![image](https://user-images.githubusercontent.com/10434911/79481541-8c962d00-8007-11ea-809a-f4c918ef680e.png)

What is this

[2020-04-16 16:39] legoboyvdlp commented on #107
Nasal runtime error: function/method call on uncallable object
 5206.81 [ALRT]:nasal        at C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Nasal/FMGC/FMGC.nas, line 817
 5206.81 [ALRT]:nasal        called from: C:/Users/redpa/Documents/Programs/FlightGear 2018.3.0/data/Nasal/globals.nas,

[2020-04-16 20:09] mattmaring commented on #113
All are fixed on mcdu branch

[2020-04-16 20:09] #113 closed, assigned to legoboyvdlp, mattmaring

[2020-04-16 20:11] legoboyvdlp commented on #113
Great, thanks. :)

[2020-04-18 13:15] #25 closed

[2020-04-18 13:15] #102 closed, assigned to vezza, legoboyvdlp

[2020-04-18 13:51] #48 closed

[2020-04-18 14:51] merspieler opened #115 "Bug - Brakes overheat on replay"
**Describe the bug**
A clear and concise description of what the bug is.
On replay the brake temperature rises every time the landing is replayed

**To Reproduce**
Steps to reproduce the behaviour:
1. Land
2. Replay the landing multiple times and watch the brake temp

**Expected behaviour**
A clear and concise description of what you expected to happen.
The brake temp should only rise as high as w

[2020-04-19 14:33] #43 closed

[2020-04-19 14:33] #44 closed

[2020-04-19 14:34] legoboyvdlp commented on #43
Invalid, no sound without FWC powered.

[2020-04-20 16:04] legoboyvdlp commented on #107
Duplicate names on DIR TO should show frequency for navaids.

DIR TO ERASE doesn't cancel dirtoFlag

[2020-04-24 15:06] legoboyvdlp opened #119 "Bug - rudder trim shows 0, not 0.0 by default"
After clicking to 0.1, then RESET it returns to "0.0". But on init is "0".

[2020-04-24 15:22] legoboyvdlp opened #120 "Bug - Clock: Can't get ET to work"
Does it work properly?

I set knob to RUN, nothing happens.

Also seconds display is different to hour / minutes display.

[2020-04-24 15:25] legoboyvdlp opened #121 "RMP text looks bad, missing label"
![image](https://user-images.githubusercontent.com/10434911/80229297-21bca580-8648-11ea-8cc4-08ce32f3fd0a.png)

Text is blurry? And missing label?

[2020-04-24 15:26] legoboyvdlp commented on #121
Also uv-mapping on pedal adjust (bottom-left)
![image](https://user-images.githubusercontent.com/10434911/80229401-4749af00-8648-11ea-80dc-bef1c00e974b.png)

[2020-04-24 22:01] legoboyvdlp opened #122 "Master List - PERF / PROG pages"
- [ ] Transition altitude
Should use transition altitude + entered QNH for default.
![image](https://user-images.githubusercontent.com/10434911/80278864-9ac40780-86f1-11ea-812c-4b24ff846a37.png)

We have no way of figuring out what the transition flight level is at the destination airport, so I think we could use the transition altitude entered on INIT A, and apply an offset from the entered QNH t

[2020-04-24 22:34] mattmaring commented on #122
DSC-22_20-50-10-28 P 104/136 suggests baro can be changed at any time.

Also, QNH should be amber boxes less than 180 miles.

[2020-04-25 12:20] legoboyvdlp commented on #122
That's true, yep :+1: I think it doesn't display anything however, under 250 miles?

Thanks :)

[2020-04-26 06:00] vezza commented on #119
fixed by initializing property: controls/flight/rudder-trim-display in clock.nas

[2020-04-26 06:00] #119 closed, assigned to legoboyvdlp

[2020-04-26 06:24] vezza commented on #120
It seems to me that it is ok, ET runs/pause/reset as expected (you have to wait at least 60 seconds to see it running or check property tree: instrumentation/clock/... as it shows only hh:mm). The seconds/year display is the center display has a different font size from hour/minutes, see: ![clock](https://user-images.githubusercontent.com/1450066/80299645-4c1c7900-8796-11ea-825d-928c523ec06a.png)

[2020-04-26 06:24] #120 closed, assigned to legoboyvdlp

[2020-04-26 08:03] vezza commented on #115
I fixed this bug, anyway the replay system seems to not work properly... I'm closing this and will open a different issue

[2020-04-26 08:03] #115 closed, assigned to vezza

[2020-04-26 08:28] vezza opened #124 "Bug - Replay system broken?"
**Describe the bug**
1) The replay system doesn't replay some properties (example: airspeed, clock/timers, brake decel indicator, brake fan, brake hot indicator, and probably many more...).
2) Exiting the replay the panel state gets reset to cold and dark

**To Reproduce**
Steps to reproduce the behavior:
1. do a quick flight;
2. enter the replay system (CTRL+R);
3. check for missing data/properti

[2020-04-26 09:25] merspieler commented on #115
Thanks

[2020-04-26 10:31] legoboyvdlp commented on #120
Thanks!

Sorry - it confused me that it was only minutes, not seconds :)

[2020-04-26 14:08] legoboyvdlp commented on #107
Scroll UP on dirto page breaks scrolling.
No console error.
![image](https://user-images.githubusercontent.com/10434911/80309917-d46b4000-87cf-11ea-9abe-3cff800fe5c7.png)

[2020-04-26 14:11] legoboyvdlp commented on #107
Nasal runtime error: airport.getStar passed invalid argument
 1800.97 [ALRT]:nasal        at C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Nasal/MCDU/ARRIVAL.nas, line 423
 1800.97 [ALRT]:nasal        called from: C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Nasal/MCDU/ARRIVAL.nas, line 505
 1800.98 [ALRT]:nasal        called from: C:/Users/redpa/Documents/Flig

[2020-04-26 14:12] legoboyvdlp commented on #107
Also, inserting from scratchpad on f-pln doesn't seem to delete intermediate IAP waypoints.

[2020-04-26 14:23] legoboyvdlp commented on #107
2534.58 [ALRT]:nasal      Nasal runtime error: undefined symbol: vapp
 2534.58 [ALRT]:nasal        at C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Nasal/FMGC/FMGC.nas, line 468

with manual entry of vapp

[2020-04-26 17:15] Octal450 commented on #124
The behavior is intentional.
Replay fucks up many of the systems and FMGC logic, as it thinks its actually flying. So we purposefully reset after ending. This even happens in PMDG planes in P3D, if you use slew/replay, some stuff will be weird/screwed up after exiting.

As for missing properties, you can add those yourself to flight-recorder.xml, or tell me the properties needed and I will add the

[2020-04-26 17:21] legoboyvdlp commented on #121
Normals fixed on the pedal adjust lever.

[2020-04-26 17:29] Octal450 commented on #111
@merspieler I am beginning to working on major improvements to the F-PLN logic and this is planned. Since the route manager and default FMS can be disabled, I don't really think pushing this to it would be a problem

[2020-04-26 17:30] Octal450 commented on #109
New ND in the works. I'll go through this list once I get the basics in

Kind Regards,
Josh

[2020-04-26 17:32] Octal450 commented on #105
I've seen this too, but I couldn't find it. Next time I see it, I'll go through loads of properties generated by the 320 and see if I can find anything.
I "think" it might be from FG? But no confirmed as I never see this when I was testing the MD-11

Kind Regards,
Josh

[2020-04-26 17:32] Octal450 commented on #23
I'll do this for you @legoboyvdlp shortly

Kind Regards,
Josh

[2020-04-26 17:57] vezza commented on #124
Ok thanks, anyway I think this issue should remain open on a low priority... there should be a way to save the sim state before replay and reopen it after leaving the replay (example: a function that creates a copy of the property tree before the replay and then restores it leaving the replay). What do you think?

[2020-04-26 18:27] Octal450 commented on #124
Not really possible.
That state system doesn't know or care about the value of things - that would be saving thousands and thousands of properties.
It just resets everything to as if the sim just loaded, then starts the plane to the selected state.

Kind Regards,
Josh

[2020-04-28 14:25] legoboyvdlp commented on #99
Nasal runtime error: undefined symbol: clean
 1120.01 [ALRT]:nasal        at C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Models/Instruments/PFD/PFD.nas, line 1265
 1120.02 [ALRT]:nasal        called from: C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Models/Instruments/PFD/PFD.nas, line 299
 1120.02 [ALRT]:nasal        called from: C:/Users/redpa/Documents/Fli

[2020-04-29 13:14] mattmaring commented on #99
I plan on focusing on improving what I have already completed, new stuff will come another day

[2020-04-29 13:14] #99 closed, assigned to mattmaring

[2020-04-29 13:16] mattmaring opened #125 "Feature Request - PFD missing features"
From previous project:
* [ ] Check for missing special messages (DSC-22_30-100 P 8/8)
* [ ] Flashing FMA V/S when overspeeding during decend. DSC-22_30-75 P 8/10
* [X] Arrow for on pitch scale to avoid tail strikes
* [x] Velocity vector and FD (when in TRK/FPA mode) -- partly done
* [ ] On landing and takeoff when LOC is recived (below 30ft), there is a lateral FD guidance in form of the YAW BAR
*

[2020-04-29 19:55] Octal450 commented on #121
That can be fixed by setting the background as JPG not PNG (weird FG thing)
The texture that isn't the labels, I mean
Josh

[2020-04-29 19:56] #124 closed, assigned to legoboyvdlp, Octal450

[2020-04-30 11:13] legoboyvdlp opened #126 "Bug - ADR switches"
**Describe the bug**
ADR switches buggy

**To Reproduce**
Steps to reproduce the behaviour:
1. Turn on BAT + ext power
2. Set modes to NAV
3. Click ADR switches twice

**Expected behaviour**
I think OFF light on ADR shouldn't go out when setting NAV.

In any case, the physical light goes out, but the actual switch is not toggled!!! You click it, nothing happens, then click it again and OFF comes o

[2020-05-01 02:39] mattmaring opened #127 "Feature Request - finish fuel calculations"
Create unified fuel prediction calculations, see Flight Planning section in FCOM
- Allow proper entry of taxi/min-dest-fob (done)
- Implement correct fuel prediction behavior (R3), (done)
- Add delay to calculations (done)
- Implement with AMI file (see #9)

[2020-05-01 11:49] #126 closed, assigned to legoboyvdlp

[2020-05-01 11:54] merspieler opened #128 "Bug - Fuel temp is odd"
**Describe the bug**
A clear and concise description of what the bug is.
The temp of the Left outer matches the right inner and the left inner matches the right outer.

**To Reproduce**
Steps to reproduce the behaviour:
1. In CRZ take a look at the FUEL ECAM page

**Expected behaviour**
A clear and concise description of what you expected to happen.
The outer tanks match each other and the inner t

[2020-05-01 11:55] legoboyvdlp commented on #128
yeah...

don't know whats up
maybe will check positioning in the jsbsim file of the tanks
\_('-')_/

[2020-05-03 17:42] #62 closed, assigned to legoboyvdlp

[2020-05-03 21:56] legoboyvdlp commented on #26
Batteries done

[2020-05-03 21:56] legoboyvdlp commented on #29
Todo redo braking system totally

[2020-05-04 09:42] legoboyvdlp opened #129 "Bug - batteries drain in acconfig"
It's not serious, but batteries drain by about 20% in acconfig.

[2020-05-04 12:52] legoboyvdlp opened #130 "Feature Request - Add Jetway support"
Self explanatory. Requested by Julien Lengele.

[2020-05-04 20:05] legoboyvdlp opened #131 "Nasal reorganization"
Move ECAM out to ecam namespace, effects to effects namespace for a start

[2020-05-06 12:00] Kasluk24 commented on #7
I took care of this issue and I think I have found a solution. Can I just create a pull request and then someone looks over my changes? Or have I to link it somehow to this issue? Sorry for that question but I'm a newbie on GitHub.

[2020-05-06 12:01] merspieler commented on #7
Pullrequest is fine, thank you

[2020-05-08 09:48] #7 closed

[2020-05-08 15:33] legoboyvdlp commented on #7
Thanks @Kasluk24 !

[2020-05-08 20:33] legoboyvdlp commented on #34
CFM sounds in general messed up.
Wingview front.
Missing idle external.

[2020-05-09 01:59] mattmaring commented on #34
I'd make sure to also compare the changes I made awhile back. I know I fixed it for Mac, but might have broken windows/linux in the process.

[2020-05-09 11:27] legoboyvdlp opened #133 "Bug - artifacts on radio panel"
![image](https://user-images.githubusercontent.com/10434911/81472510-64f24900-91f0-11ea-841e-0b7847523857.png)

Look closely at left edge. Only when zoomed out.

[2020-05-09 15:43] legoboyvdlp commented on #34
IAE - no engine start for first part, in rear aspect outside. Eng 2.

[2020-05-09 15:57] legoboyvdlp commented on #34
No ldg light switch sound from OFF --> ON. ONly retract --> off

[2020-05-09 20:09] legoboyvdlp commented on #34
Pushback --> fixed
Exterior sounds at idle --> fixed.

Ldg light switch --> port from f16, invalid.

Start sounds outside --> investigating

[2020-05-09 20:10] legoboyvdlp commented on #34
GPWS warnings too quiet?

[2020-05-10 10:41] sylvainar opened #135 "Feature Request - Document procedures"
**Is your feature request related to a problem or missing feature? Please describe.**
Hello there, I'm trying to go further in realism and stop using autostart on airplanes I'm using in FlightGear. I don't understand why this airplane doesn't have an interactive checklist like others (C172, CR700 or EC135 for instance). The A320 family is awesome in term of realism and completeness, there is so mu

[2020-05-10 10:45] legoboyvdlp commented on #135
Yeah, interactive checklists are possible. For instance,

![image](https://user-images.githubusercontent.com/10434911/81496996-823c1b80-92b3-11ea-8417-49a62c40291f.png)

But, checklists I really think are for checklists, not really "procedures" to start, etc.

![image](https://user-images.githubusercontent.com/10434911/81497027-aef03300-92b3-11ea-9764-1479fcf39319.png)

These are the real Airbus c

[2020-05-10 12:11] sylvainar commented on #135
Why not both? Interactive checklist could be use for startup procedures, since you already propose a "condensed" checklist to print on PDF, for those who want to push the simulation further and only do it with the card.

Currently, when you start the engines, you do the procedure by memory or do you have it documented somewhere?

[2020-05-10 12:51] Octal450 commented on #135
Yes, on airliners (unlike GA) the checklists don't actually teach you how to start/use the thing. There is a plan to add a tutorial system that will walk you through this however, but not yet as this means any time we change something we have to worry about the "tutorials" causing problems. Best to leave this to when the aircraft is mostly complete.

You can follow a FSLabs A320 tutorial on YouTub

[2020-05-10 13:21] sylvainar commented on #135
Okay, fair enough. I just found the subject interesting and wanted to get involved, if this is bad timing that's okay.

Linking here the resources I used for further reference:
- https://www.youtube.com/watch?v=UFcz8WrOR78
- http://wiki.flightgear.org/Fr/Airbus_A320_Family (in french, outdated)

[2020-05-10 13:41] merspieler commented on #135
In fact, I've started already on tutorials a while ago... but, as @Octal450 said, every time we change something, we've got to check/update the tutorial.

As well, the systems are so complex... that a full, complete tutorial for startup might end up being like 30min.... so it's not easy to find a balance

[2020-05-10 13:57] Octal450 commented on #135
@sylvainar we appreciate the suggestions!

Kind Regards,
Josh

[2020-05-10 15:41] legoboyvdlp commented on #130
Wait for 3D model

[2020-05-10 15:44] legoboyvdlp commented on #57
Confirmed fixed. Fixing detents now.

[2020-05-10 15:44] #57 closed, assigned to legoboyvdlp

[2020-05-11 17:08] legoboyvdlp opened #137 "Bug - IND TEST should affect displays"
![image](https://user-images.githubusercontent.com/10434911/81590251-6e2b1380-93b2-11ea-8ed2-dc640851351e.png)

[2020-05-12 15:50] legoboyvdlp opened #138 "Bug - clipping issues on displays"
- [x] Sideslip indicator (left -- right, PFD)
- [x] Alpha bars on ASI scale

[2020-05-12 15:51] Octal450 commented on #137
Have any pictures of which indications are shown?

[2020-05-12 15:59] legoboyvdlp commented on #137
All of them!

[2020-05-12 16:01] legoboyvdlp commented on #137
for instance:
![image](https://user-images.githubusercontent.com/10434911/81717043-fde3c700-9471-11ea-8266-7bc6b14b8ba4.png)

![image](https://user-images.githubusercontent.com/10434911/81717083-063c0200-9472-11ea-9c8a-29e308e76b27.png)

[2020-05-12 16:44] Octal450 commented on #138
Fixed in d234204

Josh

[2020-05-12 16:44] #138 closed, assigned to legoboyvdlp, Octal450

[2020-05-12 16:45] Octal450 commented on #137
OK thanks

[2020-05-12 16:46] Octal450 commented on #128
Did you check the JSBsim property if it has the same odd behavior?

Kind Regards,
Josh

[2020-05-13 11:31] legoboyvdlp opened #139 "Bug -"
5714.44 [ALRT]:nasal     C:\Jenkins\workspace\Windows-nightly\flightgear\src\Scripting\NasalSys.cxx:1330:   at C:/Program Files/FlightGear 2019.2.0/data/Aircraft/A320-family/Models/Instruments/PFD/PFD.nas, line 1309
 5714.44 [ALRT]:nasal     C:\Jenkins\workspace\Windows-nightly\flightgear\src\Scripting\NasalSys.cxx:1335:   called from: C:/Program Files/FlightGear 2019.2.0/data/Aircraft/A320-family

[2020-05-13 11:52] mattmaring commented on #139
Just reproduced it, comes as a result of triggering mach during approach or decel. Fix will be pushed shortly.

I'm also confused how it was triggered that high up.

[2020-05-13 12:04] mattmaring commented on #139
Edit: looking at the full conversation that was the issue. Decel looks to be triggered in the first photo.

[2020-05-13 19:45] legoboyvdlp opened #141 "Feature Request - lower ECAM must use IS nodes"
Use IntegratedSystems nodes rather than creating own variables. Should improve performance due to garbage collection etc.

[2020-05-13 21:07] #128 closed, assigned to legoboyvdlp

[2020-05-13 21:54] legoboyvdlp commented on #128
Thanks vezza!

[2020-05-14 10:37] legoboyvdlp opened #142 "Bug - ATC mode knob animation"
Axis is not perfectly centred.

[2020-05-14 15:47] legoboyvdlp opened #143 "Bug - ruder pedals move after starting engines"
Use "Ready to takeoff" and observe rudder pedals after engines start.

They move!

[2020-05-14 15:58] Octal450 commented on #143
Weird, ok I'll check this out asap.

Josh

[2020-05-14 18:18] legoboyvdlp commented on #107
Add database of 20 waypoints

[2020-05-14 23:55] legoboyvdlp commented on #105
For investigation - CFM only.

[2020-05-14 23:56] legoboyvdlp commented on #107
"NM" legend on F-PLN should be first shown wpt only.
Ignore parentheses on hdg-to-alt

[2020-05-15 00:13] Octal450 commented on #105
I haven't been able to reproduce. I'm suspecting the CFM sound files or the CFM FADEC. CFM only is weird though, as the LEAPX/PW neos also use the CFM FADEC, so I'm thinking the CFM56 sound xml?

Josh

[2020-05-15 00:15] Octal450 commented on #143
Can't reproduce the rudder pedals moving in a rudder way, only in a brake way. That is intentional, as brakes are applied during the JSBsim "jump-start" as otherwise the plane would roll forward rapidly.

Kind Regards,
Josh

[2020-05-15 09:27] #143 closed, assigned to legoboyvdlp, Octal450

[2020-05-15 14:18] legoboyvdlp commented on #139
Is this closable now?

[2020-05-16 15:05] legoboyvdlp commented on #107
Post 2020.2 -- use wp.hidden.

[2020-05-16 15:17] #142 closed, assigned to legoboyvdlp

[2020-05-16 19:40] legoboyvdlp commented on #34
Start sounds corrected.

[2020-05-16 19:44] #131 closed, assigned to legoboyvdlp

[2020-05-16 20:06] legoboyvdlp commented on #121
rgr, thx.

[2020-05-16 20:06] legoboyvdlp opened #144 "Bug - -232 ground reactions"
IAE needs way too much thrust to break away from stopped; check static friction.

[2020-05-16 21:15] legoboyvdlp opened #145 "Bleed valve 2 not closed"
Another bug -- if you do ready for takeoff, then bleed off, apu master back on, you get bleed valve 2 not closed.

[2020-05-16 23:14] legoboyvdlp commented on #107
Should show PPOS -->DISCONT --> END if route not init.

[2020-05-18 18:12] sylvainar opened #147 "Feature Request - MCDU update"
I don't know if it's normal or it's because i'm not familiar with the MCDU but it seems that I can't delete waypoints after they're added into the route.

Also, is there a way to update definitions of navids into the MCDU? I used approach maps from the SIA which is the french website for that kind of resources, there are some waypoints that can't be found in the system.

Thanks a lot for your answ

[2020-05-18 18:17] legoboyvdlp commented on #147
Hi,
To delete waypoints you can enter "CLR" key and then use the line select key beside the one you want to delete.

As for the navaids, yeah I'm working on that right now :)

you can enter already via latitude / longitude

The format is XXYY.Z{N/S} /XXXYY.Z{E/W}
Notice leading zero can be omitted. Not intermediate ones. Only leading ones.
For instance,  5436.2N/322.5E.    { 54 36.2 North, 3 22.5

[2020-05-18 18:18] sylvainar commented on #147
Thanks a lot!
Would there be a way to update navaids directly into flightgear so the whole community would benefit from it?

[2020-05-18 18:23] legoboyvdlp commented on #147
No, not at present. They will be updated whenever scenery is updated only, otherwise there could be mismatches (e.g. with ils --> runway).

[2020-05-18 18:25] sylvainar commented on #147
Okay thanks for your answers, I'm pretty new in this community and don't really know how things are working in flightgear and where data is coming from.

[2020-05-21 19:31] #147 closed, assigned to legoboyvdlp

[2020-05-21 20:17] legoboyvdlp commented on #139
If there's any bug its in my code not yours I think  :) - reported issue has been fixed so will close

[2020-05-21 20:18] #139 closed, assigned to legoboyvdlp, mattmaring

[2020-05-21 20:24] #23 closed

[2020-05-21 20:25] legoboyvdlp commented on #23
Closed in 62931a38a5b9733f8830ccc05b74cfe38614d133

[2020-05-21 20:36] legoboyvdlp commented on #111
(wrong emoticon, merspieler ;) )

I tried - didn't go well unfortunately.

[2020-05-21 20:36] legoboyvdlp commented on #141
See proof of concept on transition level.

[2020-05-24 12:11] legoboyvdlp commented on #3
REF AMM ATA 32 GEAR (CESA) pp 4822 - 4828
Relationship between input angle and output steering angle:
![image](https://user-images.githubusercontent.com/10434911/82753709-aaea0800-9dbf-11ea-9dc6-2efcd297d789.png)

Deadband on the tiller input:
![image](https://user-images.githubusercontent.com/10434911/82753752-0a481800-9dc0-11ea-88e8-638429c3d601.png)

Relationship to aircraft speed
![image](http

[2020-05-24 12:24] legoboyvdlp commented on #3
As to how to implement this: I would suggest:

- Tiller control goes from -1 to 1
- Map this to -75 to 75
- Use a function to map this input tiller angle to output steering angle (first image)
- Mix this with rudder input (+- 6 degrees) **Not entirely sure how that would work, sum or...?**
- If autopush is connected, use its command; if not use the output of the mixed tiller / rudder.
- Factor by

[2020-05-24 15:11] Octal450 commented on #3
I will experiment with this and see what we can do.

Kind Regards,
Josh

[2020-05-24 18:40] #3 closed

[2020-05-30 13:07] #127 closed, assigned to mattmaring

[2020-05-30 18:52] legoboyvdlp commented on #105
found :D

[2020-05-30 18:52] #105 closed, assigned to legoboyvdlp, Octal450

[2020-05-31 14:03] legoboyvdlp commented on #110
Could never reproduce this.

[2020-05-31 17:13] legoboyvdlp opened #150 "Bug - trim input"
Trim input should use trim units, not normalized /controls/flight/elevator-trim

This is to avoid rounding causing it to skip from e.g. 0.9 to 1.1 directly, skipping 1.0.

[2020-06-01 15:31] mattmaring commented on #110
Ok, I'll try reproducing it again tonight

[2020-06-11 18:33] mattmaring commented on #110
It seems to have been fixed somehow :)

[2020-06-13 14:43] legoboyvdlp commented on #110
The ironic thing is I just got this. Now to figure out, should it or not.

[2020-06-13 21:52] jelovac opened #151 "Feature request - Move external ground stuff to ground services menu"
**Is your feature request related to a problem or missing feature? Please describe.**

Currently external power units, external air conditioning supply and landing gear choke entries are located under Aircraft configuration. It seems logical to me that they should be located under Ground services menu.

[2020-06-13 21:53] legoboyvdlp commented on #151
Good idea, thanks.

[2020-06-13 22:01] merspieler commented on #151
When doing that, we should consider, having just one box for the chocks, instead of 3 for each bogey

[2020-06-13 22:15] jelovac opened #152 "Bug - Auto throttle doesn't respect indicated speed above FL300"
**Describe the bug**

Not entirely sure if this is a bug or not, but when I get above FL300 and the max speed limit on PFD gets reduced from 30x kts to 280kts the specified air speed is not respected and I constantly get over speed warning.

At that point I have to disengage the auto throttle and set it manually.

I am guessing that this has something to do with simulated atmospheric pressure, how

[2020-06-13 22:16] legoboyvdlp commented on #152
I do not understand. When does the max speed limit reduce? And can you show a screenshot when it does not respect your speed? Are you sure you are in climb thrust and not in TOGA LK?

[2020-06-13 22:21] jelovac commented on #152
Max speed limit reduces when I reach certain flight level above 30k ft. This happens when I am both in climb mode and cruise mode above that flight level.

I will make a video tomorrow.

Keep in mind that I am not a real pilot so I might lack some background knowledge and I am doing something wrong.

The best way is to show you, so will upload a video tomorrow along with some screenshots.

[2020-06-13 22:22] legoboyvdlp commented on #152
Thanks!

[2020-06-14 11:22] merspieler commented on #152
If I understand it right, he refers to the point where MMO limits max KIAS rather than VMO

[2020-06-14 12:37] legoboyvdlp commented on #110
Solution - we need proper FMA modes for go around (G/A TRACK), then add those to condition in ECAM-logic.nas

[2020-06-14 12:38] #107 closed, assigned to legoboyvdlp

[2020-06-14 12:38] legoboyvdlp opened #153 "Feature Request - use new flightplan parameters post 2020.2"
Revisit discontinuities. Check behaviour when approaching DISCONT but it is not cleared.

Also, if you have e.g. DOBAK --> DISCONT --> EHAM then load DOBAK transition at EHAM it should clear DISCONT, right?

DIR TO broken.

[2020-06-14 12:39] legoboyvdlp commented on #30
Close - wontfix.

[2020-06-14 12:39] #30 closed

[2020-06-14 19:01] jelovac commented on #152
Hi,

I was not able to reproduce the issue anymore. My settings were similar like on the screenshot bellow, however auto throttle wasn't respecting the speed set either by onboard computer (MCDU PERF mode) or by me manually.

![fgfs-20200614172018](https://user-images.githubusercontent.com/3627139/84601174-aa083b80-ae7e-11ea-8848-40699eacc46b.png)

It is highly possible that I miss configured some

[2020-06-14 19:01] #152 closed, assigned to legoboyvdlp

[2020-06-15 18:48] jelovac commented on #151
Experimented a little bit today with the menus:

![a320-ground-service-menu-changes](https://user-images.githubusercontent.com/3627139/84694413-73e3be00-af49-11ea-8cd3-d69a9a02e084.png)

[2020-06-15 21:02] jelovac commented on #151
Reordered a little bit, looks better in my opinion.

![updated-ground-services](https://user-images.githubusercontent.com/3627139/84705779-350b3380-af5c-11ea-95a2-4fc032bb8e55.png)

[2020-06-15 21:57] jelovac commented on #133
Some additional note, pressing on the ON / OFF radio switch with mouse is a little bit tricky. If you do not point exactly on the switch it will rotate the trim wheel instead (pilot side).

Maybe make the clickable area a little bit bigger or to not rotate the trim wheel?

![radio-switch-issue](https://user-images.githubusercontent.com/3627139/84823864-52550600-b01f-11ea-8c24-41d3d987c311.gif)

[2020-06-15 22:03] merspieler commented on #151
Looks good... only the font is weird.

I'd make it just one Checkbox for all chocks.

And note, that the APU oil stuff will be moved to the WIP maintenance dialog.

[2020-06-15 22:13] jelovac commented on #151
I merged  main left and right gear chokes under the single checkbox, nose choke is still separated.

Was not sure if we should merge it as well, currently it doesn't occupy vertical space since they are aligned side by side.

As for the fonts, it's because of my selected GUI style. Unfortunately I own an ATI card R390 which has issues with the standard menu style (menu elements invisible).

[2020-06-16 22:30] legoboyvdlp commented on #151
Thanks :)

[2020-06-19 19:19] #151 closed, assigned to legoboyvdlp

[2020-06-20 01:34] mattmaring opened #157 "Feature Request - New fuel calculations"
Implement new fuel system:
- wind pages (done)
- independent climb, cruise, and descent calculations
- t/c, t/d in MCDU (step climb later, I'll be able to determine if a step climb is necessary with this, but actually putting it in will require more work)
- fuel predictions/time calculations in MCDU (FPLN, INITB, FUELPRED, FUEL)

see https://github.com/mattmaring/A320-family-fuel-model

[2020-06-20 10:14] legoboyvdlp commented on #157
2020.2 has a new parameter which allows things to be hidden in a route -- I tested this on the decel pt and it works fine -- so this allows it to be added in MCDU rather easily but does require 2020.2.

[2020-06-20 15:45] jelovac opened #158 "Bug - Route not drawn on ND"
**Describe the bug**

Sometimes imported flight plan fails to be displayed on ECAM display.

Looking at the console in Windows it seems to be a nasal error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Initialize the MCDU
2. Load external flightplan via FMGC => Load flightplan

Flightplan:

[code]

**Expected behaviour**
Route should be displayed on ECAM display.

**Screenshots**

![nasa

[2020-06-20 15:48] legoboyvdlp commented on #158
yeah, if that happens you have to live with it (or restart flightgear).

Can you reproduce it -- if not, unable to fix.

[2020-06-20 15:54] merspieler commented on #158
That's the mapstructure issue again... i thought it was fixed?

[2020-06-20 15:54] jelovac commented on #158
You are correct, restarting Flightgear and importing the same flight plan works.

As it happens randomly not sure if I can find the exact pattern in order to reproduce it.

[2020-06-20 16:01] legoboyvdlp commented on #158
It's obviously not, merspieler.

The problem is that the debug information is clearly not working... it's meant to output exactly which model it can't find but desn't...

[2020-06-21 14:03] merspieler commented on #158
I've got the very same today... entering a flightplan manually....
`YPDN/11 RUSKA5 RUSKA DCT DUMAV J61 KONDA CODIE7X YBCS/15`

[2020-06-21 15:07] mattmaring opened #159 "Bug - Wind page issues/future improvements"
* Winds do not reset correctly on after-landing INIT reset, causes nasal error (line 125 CLB wind)  (done)
* Properly clear winds with arrival changes (done)
* GRND wind transferred to approach page (done)
* ALT wind sometimes fails to display after entry (done)
* Allow 0s in the wind values (done)
* History wind not implemented (done)
* Add stars to insert/update (done)
* Propagate cruise winds (

[2020-06-21 15:48] legoboyvdlp commented on #158
@jelovac

@merspieler

I wonder if you could both change your log level to debug -- OR else on line 24 of mapstructure.nas, change it like so:

#var _MP_dbg_lvl = LOG_DEBUG;
var _MP_dbg_lvl = DEV_ALERT;

After that, you should see in the logfile something like "Deleting symbol of type X"

[2020-06-21 17:10] jelovac commented on #158
Ok, will do it and let you know the outcome when map fails.

[2020-06-21 17:34] jelovac commented on #158
Not sure if it is the same bug but I discovered the following:

- Start Flightgear
- Connect external power
- Set departure and arrival airport in the MCDU
- Load flightplan

All good.

Then from Flightgear menu move your aircraft to some other location, for example spawn it on the active runway => the map is gone.

Some infos:

[code]

And then the following nasal error:

[code]

The last three l

[2020-06-21 17:54] jelovac commented on #158
Test 2

Started on a parking spot W05 on LFPG

1. Enabled BAT 1 & 2
2. Enabled APU
3. Inserted arrival and departure airports into the MCDU via keyboard input by clicking Toggle Keyboard Input
4. Moved with the pushback truck the aircraft to the another location
5. Set the parking brake
6. Loaded flight plan from file (the one reported LFPG - EGBB)

Outcome: route not displayed, nasal error in con

[2020-06-21 20:53] legoboyvdlp commented on #158
Moving the aircraft is not supported. Will see if it is possible to fix flightplan bug.

But, did you set log level to debug -- you should have seen "Deleting symbol of type {something}"

Edit - please can you try and get it, but without moving aircraft location between airports?

[2020-06-21 21:01] jelovac commented on #158
Yes I did, that is all which I got in the Windows terminal output.

Second test was on the same airport, but with moving the aircraft like 30m from the starting point with the pushback.

I will keep an eye and try to log the bug if it occurs when aircraft is not moved at all before FP is set.

[2020-06-21 21:07] jelovac commented on #158
Scratch this.

Apparently in Windows version of FGFS 2020.1.2 it was by default set to:

var _MP_dbg_lvl = LOG_DEBUG;
#var _MP_dbg_lvl = DEV_ALERT;

I just swapped the values and unfortunately tested with DEV_ALERT. I will repeat the tests after Wednesday.

[2020-06-21 22:34] legoboyvdlp commented on #158
I see -- using pushback is no problem :)

Ok, not a problem, either swapping values _or_ setting --log-level=debug is fine!

Actually for DEV_ALERT -- looks like you have to add --developer=yes - very sorry, I forgot this! So for both, you have to add something to commandline.

[2020-06-22 17:59] legoboyvdlp commented on #158
By the way,

It appears you need to use the console (--console or else "Show Debugging Console" in settings on the launcher) to see log level DEBUG messages - not entirely sure why that is.

It appears DEBUG messages are not output to fgfs.log. I will open a ticket for this on the mailing list tonight!

[2020-06-22 22:54] legoboyvdlp commented on #159
Another nasal one: I think after reset also
Nasal runtime error: non-objects have no members
 2998.31 [ALRT]:nasal     C:\Jenkins\workspace\Windows-release\flightgear\src\Scripting\NasalSys.cxx:1331:   at C:/Users/Stefan/Documents/doc/FlightGear/Aircraft/A320-family/Nasal/FMGC/winds.nas, line 121
 2998.31 [ALRT]:nasal     C:\Jenkins\workspace\Windows-release\flightgear\src\Scripting\NasalSys.cxx:1

[2020-06-24 19:06] jelovac opened #160 "Feature Request - document simulated aircraft specs"
I am often using SimBrief.com for flight plan generation in order to make my flight simulation experience more realistic.

In SimBrief you can define your aircraft details in order to have flight plan custom tailored for your aircraft.

It would be nice to have some details about simulated aircraft.

So far what I was able to extract is the following information:

- Weights
- Aircraft type
- Engin

[2020-06-24 20:19] merspieler commented on #160
I agree, but we should wait, until all are actually correct in the plane, not that we have to change it.

[2020-06-24 20:48] legoboyvdlp commented on #160
For all these details -- registration and fin number is custom each time. Surely this is something that each individual user should do for themselves, with the options they want?

Certainly weights are custom tailored to each aircraft.

I am not sure what I understand you want me / anyone else to do here?

[2020-06-24 22:56] jelovac commented on #160
Unless I am missing something all of these weights are constants in a simulator.

For example:

- Maximum Take-Off Weight (MTOW) is a constant
- Maximum Landing Weight (MLW) is a constant
- Maximum Zero Fuel Weight (MZFW) is a constant
- Maximum Fuel Capacity is a constant
- Empty Weight (OEW) is a constant since we cannot currently modify it withing the flightgear unless I am missing something

M

[2020-06-25 00:18] legoboyvdlp commented on #160
Correct. The weights of each variant however are different. A specific weight variant is taken from the EASA Type Data Certificate Sheet. The MTOW, MLW, and so on are different for each variant. Empty weight is also different, since each engine has its own unique weight.

What information would you like, I would be glad to provide what I can?

[2020-06-25 20:24] jelovac commented on #160
Thanks, for now I am good.

MTOW, MLW, MZFW - are already available from the UI.

OEW value I got by removing all the fuel and payload from the "Fuel and Payload Settings" dialog and looking at the gross weight.

Maximum fuel qty I got by sliding all the fuel settings to the maximum and looking at the qty in "Fuel and Payload Settings". The other way was to look at the A320-200-IAE.xml and sum all

[2020-06-26 11:49] legoboyvdlp commented on #160
Do note all variants have different fuel capacity :)

Also the weights will be changing, there are some fuel + payload improvements coming.

[2020-06-26 11:49] #160 closed, assigned to legoboyvdlp

[2020-06-26 17:25] legoboyvdlp commented on #133
That's quite weird, thanks for the report!

[2020-06-28 10:28] legoboyvdlp opened #161 "Bug - acconfig auto-altimeter setting"
![image](https://user-images.githubusercontent.com/10434911/85944978-7fb08680-b932-11ea-973f-5b404a85233b.png)

Is wrong at high elevation airports.

[2020-06-29 19:15] legoboyvdlp commented on #153
Changing arrival runway resets flightplan
arrival dist broken

DIRTO seems to go to TP rather than DIRTO waypoint.

[2020-06-29 19:22] legoboyvdlp commented on #153
Manual approach activation
![image](https://user-images.githubusercontent.com/10434911/86047072-34879800-ba46-11ea-809b-1132a93fe31d.png)

[2020-06-29 19:46] legoboyvdlp commented on #145
related - APU gen relay sounds when you turn MASTER on after arrival, then again after reach 100%.

[2020-06-29 19:48] legoboyvdlp commented on #153
5
 6422.21 [ALRT]:nasal      Nasal runtime error: non-objects have no members
 6422.21 [ALRT]:nasal        at C:/Users/redpa/Documents/FlightGear/Custom Aircraft/A320-family/Nasal/FMGC/flightplan.nas, line 846

[2020-06-29 21:47] #161 closed, assigned to legoboyvdlp

[2020-06-30 14:12] legoboyvdlp commented on #153
Expose pilot WP to DIR TO field L1

[2020-07-01 14:29] DheerendraTomar opened #162 "Feature Request - Stall simulation"
Does this Airbus family support almost accurate stall simulation?

[2020-07-01 14:30] legoboyvdlp commented on #162
Are you talking about the flight dynamics or the warnings / fly by wire? :)

[2020-07-01 14:31] DheerendraTomar commented on #162
I am more interested in dynamics (like it should simulate accurate stall). If there are stall warnings then It is a plus point.

[2020-07-01 14:34] Octal450 commented on #162
Hi,
I'm working on this in the new aero model. It will take some time to be correct, but it will be done. The current one did not take any stall into account.

I will add protections to the FBW as well once the aero is sorted out.

Lego will have the warnings and such done I assume.

Kind Regards,
Josh

[2020-07-01 14:36] legoboyvdlp commented on #162
At the moment, there is a stall warning based off angle of attack -- it is accurate to the real aircraft; there also is alpha floor -- I have not verified this yet, according to maintenance manual, but it should also be accurate. I will verify this sometime soon.

So, on my end, the warnings are all per the real aircraft.

What is missing at present is the FBW protections as stated above.

[2020-07-01 14:37] DheerendraTomar commented on #162
Hi,

That is so good to hear that you are working on it. Do you have any timeline for this feature?

And How do I use this model with JSBSim?

[2020-07-01 14:39] DheerendraTomar commented on #162
Hi,

Stall warning based on angle of attack sounds good as well. I am new to this Aerospace but I am learning and would be giving back to the open source community very soon. Thanks

[2020-07-01 14:40] merspieler commented on #162
Note that it's very hard to even get into a stall... A.FLOOR kicks in to prevent an actual stall. To really test the stall behavior, you've got to get rid of the protections.

Like with every thing we do... it comes, when it comes...

You just run flightgear as usual... JSBSim run silently in the background for you

[2020-07-01 14:45] DheerendraTomar commented on #162
Hi,

I am using JSBSim with python and using FlightGear just for visualisation. The aircraft is controlled using algorithms. I am pretty sure there will be a way to disable protection systems, right?

[2020-07-01 14:47] DheerendraTomar commented on #162
Hi,

If anyone can direct me to the files which contain the **'stall warning based on angle of attack'** section for the aircraft. It will be a great help.
Thanks

[2020-07-01 14:52] merspieler commented on #162
Well... I've never run JSBSim on it's own... but it shouldn't be different to any other aircraft.

You can disable the protections by going to "A320-family" -> "Aircraft Config" -> "FBW Settings" and check "Define Custom FBW Mode", Then you can change between the different Laws as you like.

[2020-07-01 15:04] DheerendraTomar commented on #162
Alright, I will check it out. I can see that there are different control laws. Thanks for this.

[2020-07-01 15:10] Octal450 commented on #162
You should not do that, you should run it as normal. I cannot guarantee that anything related to FDM and FBW will work correctly of you do that. The model was designed to be used in Flightgear and needs modification to work properly elsewhere.

Josh

[2020-07-01 19:38] DheerendraTomar commented on #162
FlightGear also uses JSBSim at the backend. I think it will not cause a problem to use this model with JSBSim. I will check it out and will update on this thread.

[2020-07-01 20:17] Octal450 commented on #162
Yes, I am aware obviously,
My point is that the FLYbywire relies on things that will only work if FG is used, especially the pitch axis, so I can't verify that it will work properly or realistically.

Kind Regards,
Josh

[2020-07-01 20:39] DheerendraTomar commented on #162
Hi Josh,
I didn't know that FLYbywire works like that. However, I will try it out and post the results here. Keeping my finger crossed.
One question though, Aircraft is defined in XML and JSBSim needs that only (XML definitions) what might go wrong?
Thanks and regards,
Dheerendra

[2020-07-01 20:47] Octal450 commented on #162
Hi.
Its because in order to make the FlyByWire act like the actual aircraft, some things did not go well in JSBsim. In addition, there is a lot of legacy code that is still needing to be rewritten in NASAL that control the FlyByWire in JSBsim, causing that missing will cause either JSBsim to throw errors, or FlyByWire (or FCS) to not work properly.
An example of this is the pitch G load controller

[2020-07-01 21:11] DheerendraTomar commented on #162
Hi,
Thanks for the explanation.

I am writing a reinforcement learning environment. I just need to pass in the side stick controls and receive the state from the environment. I used X-Plane before. But, the problem with X-Plane was when an episode ends, the reloading made the aircraft upset (there was a sinusoidal movement). I tried many things to make it work like turning back the autopilot on so

[2020-07-01 21:25] Octal450 commented on #162
Hi,
Thanks for the info. The JSBsim model here needs a lot of work, and  it will take time before I am able to finish the correct model. That is likely why you are seeing this, as the model currently available in sim does not have correct stall behavior at all. This will be correct in time with the new calculations for aerodynamics in all 6 axis.

Kind Regards,
Josh

[2020-07-01 21:34] DheerendraTomar commented on #162
Hi,

So, you mean this FlightGear model once worked upon will also work in standalone JSBSim, right?

Thanks and regards,
Dheerendra

[2020-07-01 21:50] Octal450 commented on #162
Negative, I'm just reworking the aerodynamics not the FBW for now - maybe I'll look at it again later, last time was 2 years ago about.

Kind Regards,
Josh

[2020-07-02 05:42] DheerendraTomar commented on #162
Alright. Thanks

[2020-07-03 12:54] DheerendraTomar commented on #162
Hi Josh,

I have one question. If I want to go ahead to create a flight model which works with JSBSim and also simulates stall behaviour, how should I proceed? I have found a tool [DATCOM](http://wiki.flightgear.org/DATCOM) which says that it generates model files for FG, JSBSim and others, if you insert dimensions of an aircraft. Is this the right direction to go in order to design a A320 model f

[2020-07-03 12:58] legoboyvdlp commented on #162
To be clear, the current model _does_ stall, its just not verified to be an accurate stall.

[2020-07-03 12:58] DheerendraTomar commented on #162
But it doesn't work with JSBSim. I have tried this model in FG and it works quite good but is not so accurate.

[2020-07-03 14:03] Octal450 commented on #162
The aero will always work in JSBsim, the FBW ans FCS does not and that won't change unless you make your own which doesn't do what mine does.

I would recommend VSPaero over DATCOM personally.

We already know the stall is wrong now, it will be addressed. Remember that we are hobbyists, not professional programmers or engineers.

Kind Regards,
Josh

[2020-07-03 15:25] DheerendraTomar commented on #162
Hi Josh,

Yes! I tried to run this model in JSBSim by disabling some part of the code like FBW, didn't succeed. However, I would like to know how should I proceed to write my own FCS (I don't really need FBW) in python for this model. I will check out VSPaero.

I really appreciate the work you guys are doing. I didn't mean to offend you guys in my last comment.

Thanks and regards,
Dheerendra

[2020-07-03 18:02] mattmaring opened #163 "Feature Request - V1/VR/V2 calculation"
Use performance data to calculate takeoff speeds in PERF TO

[2020-07-03 22:29] Octal450 commented on #162
Hi,
You can use the existing FCS, just remove the FBW from it and set your own properties there for control. (a320-fcs.xml) You will also need a320-spoilers.xml for the spoilers, or else aero will not start. Let me know if that makes sense.

No worries!

Kind Regards,
Josh

[2020-07-04 12:42] DheerendraTomar commented on #162
Hi,

Thanks for this information. I will try it out and get back to you.

:)
Thanks and Regards,
Dheerendra

[2020-07-04 14:52] Octal450 commented on #162
You're most welcome!

Josh

[2020-07-10 22:02] legoboyvdlp opened #166 "Feature Request - split EFIS altimeters in three"
![image](https://user-images.githubusercontent.com/10434911/87206352-6bd92d00-c301-11ea-9f70-647fb4b55f72.png)

Found info. I post info here as I find it.

[2020-07-10 22:03] legoboyvdlp commented on #166
![image](https://user-images.githubusercontent.com/10434911/87206395-84e1de00-c301-11ea-93ff-55ff75338c16.png)

[2020-07-11 14:32] #162 closed, assigned to legoboyvdlp, Octal450

[2020-07-18 12:03] merspieler opened #167 "Feature Request - Replace/Remove splashscreens showing the old model"
Since we've got the new model, we should remove/replace all splash screens, showing the old model

As well... do we really need 6 splash-screens?

3 Should be enough...
* One Cockpit
* One Wing
* One outside

[2020-07-18 12:29] legoboyvdlp commented on #167
Cockpit doesn't need changed but definitely wing + outside!

[2020-07-18 13:06] merspieler opened #168 "Feature Request - Rudder moved by wind, when on ground"
Just a nice to have...
The rudder is moved by the wind, when on ground and the HYD systems are not pressurized.

[2020-07-18 13:14] legoboyvdlp commented on #168
Are you sure about this -- the centering spring in the feel unit should prevent this, unless the wind is rather strong.

[2020-07-18 13:15] merspieler commented on #168
https://www.youtube.com/watch?v=7sAmkqBZ0lw

[2020-07-18 13:27] legoboyvdlp commented on #168
About 2/3 of images show that it is neutral.
![image](https://user-images.githubusercontent.com/10434911/87853523-b3b01380-c902-11ea-983c-23909cef5c36.png)

![image](https://user-images.githubusercontent.com/10434911/87853528-c0cd0280-c902-11ea-9786-a46f582cdc99.png)

(For instance ^ above, obviously a thunderstorm, so rather stronger winds!)

I suppose the wind is sometimes strong enough to overc

[2020-07-18 13:30] legoboyvdlp commented on #168
Or else, the yellow pump is on in those images, for cargo door operations, of course...

[2020-07-19 11:49] #168 closed, assigned to legoboyvdlp

[2020-07-19 16:41] buglaboie opened #170 "wipers"
There are no wipers, at all, and it's bad, I can't see from the rain, low end planes, or bad planes have it, why would a plane like this with such amazing realism not, this is kinda ruining experience

[2020-07-19 16:48] merspieler commented on #170
Can you point me to a plane with working wipers please, I haven't seen one yet...

I mean actually wiping wipers, not just a model, that moves.

[2020-07-19 17:02] buglaboie commented on #170
I don't rember, it was a year ago, but atleast make something the wipes and
doesn't have to move

On Sun, Jul 19, 2020, 7:48 PM merspieler <notifications@github.com> wrote:

[2020-07-19 17:09] merspieler commented on #170
well... the model is the easy part... afaik, it is not possible, with the current rain effect to have a working wiper

[2020-07-19 18:25] legoboyvdlp commented on #130
Accomplished in 3D.

[2020-07-19 18:25] #130 closed, assigned to legoboyvdlp

[2020-07-19 19:43] buglaboie commented on #170
could you go into more explaining as to why it is not possible?

On Sun, 19 Jul 2020 at 19:09, merspieler <notifications@github.com> wrote:

[2020-07-20 02:28] Honu4 opened #172 "Bug - constant error message with auto-coordination enabled"
Thereʻs a constant stream of the same error message. In the past it would only appear once.

Steps to reproduce the behaviour:
1. enable auto-coordination in launcher settings
2. Start flight

**Screenshots**
<img width="509" alt="Screen Shot 2020-07-19 at 4 24 02 PM" src="https://user-images.githubusercontent.com/67807217/87893681-496ba180-c9dc-11ea-879a-f1992526066f.png">
![fgfs-20200720021854](

[2020-07-20 07:53] merspieler commented on #170
Cause nobody implemented it...

[2020-07-20 10:28] legoboyvdlp commented on #172
Thanks.

[2020-07-25 18:14] #172 closed, assigned to legoboyvdlp

[2020-07-25 19:13] legoboyvdlp commented on #111
WIP

[2020-07-25 20:12] #34 closed

[2020-07-25 23:14] legoboyvdlp commented on #29
Not done yet, but did the ground work for this tonight.

[2020-07-26 21:47] legoboyvdlp commented on #166
pressurization system should check input according to priority

[2020-07-30 20:26] wrongsyntax opened #173 "FlightGear doesn't start when using this aircraft"
When trying to load up the A320, an error appears on the loading screen, not letting me use the aircraft.
### General
----

I am submitting a: (select one)
* [x] Bug report
* [ ] Feature request

### Details
----
#### Expected Behavior (bug reports)

The aircraft should load up and I should be able to use it.
#### Current Behavior (if applicable)

![Error that shows up](https://user-images.githubu

[2020-07-30 20:28] legoboyvdlp commented on #173
I wonder what that file called "INSTALL.MD" is for. It certainly isn't for reading, if a user has difficulty installing and using, or at least, nobody ever seems to read it...

Anyway, this is caused by not removing the extension which Github adds to the .zip file -- rename the folder to `A320-family`.

[2020-07-30 20:28] #173 closed, assigned to nobody

[2020-07-30 20:33] wrongsyntax commented on #173
Oh sorry, I didn't see that. Maybe it might be a good idea to at least reference it in the README, since that's pretty visible on the home page?

[2020-07-31 12:25] legoboyvdlp commented on #173
No problem, and yes, that would be good :+1: 🙂

[2020-08-11 05:40] Marsdolphin commented on #170
I think presently, the A350 has wipers, and the DHC6 also (although I am not sure about the latter as I haven't activated them before). I think we can actually take inspiration from the few models that have it if needed.

[2020-08-11 08:37] merspieler commented on #170
Not really working ones... they don't wipe the drops away....

[2020-08-11 17:31] buglaboie commented on #170
On Tue, Aug 11, 2020 at 11:37 AM merspieler <notifications@github.com>
wrote:

Oh ok

[2020-08-13 09:40] Marsdolphin commented on #170
Got something fairly interesting here, starting from 3:20:
https://www.youtube.com/watch?v=jY5-rrqeIMY
Thise wipers on the DHC6 seem to actually work.

[2020-08-13 10:01] merspieler commented on #170
Interesting...

Better than nothing... I guess... but not actually wiping either.
It just reduces the rain effect, where the wipers are.

[2020-08-13 19:01] #129 closed, assigned to legoboyvdlp

[2020-08-13 19:02] #121 closed, assigned to legoboyvdlp

[2020-08-13 19:03] #133 closed, assigned to legoboyvdlp

[2020-08-13 19:26] #145 closed, assigned to legoboyvdlp

[2020-08-14 18:30] legoboyvdlp commented on #141
Good progres. Will keep working on it.

[2020-08-14 18:30] #141 closed, assigned to legoboyvdlp

[2020-08-18 14:49] Axeinator opened #176 "Bug - PFD Pitch Trim Warnings Cycling Rapidly"
**Describe the bug**
When All FACs, ELACs, and SECs are disabled, the PFD Warnings "Use MAN Pitch Trim" and "MAN Pitch Trim Only" repeatedly cycle and flash on the PFD, like in the GIF attached.

**To Reproduce**
Steps to reproduce the behaviour:
1. Be in the air, with autopilot on.
2. Disable all FACs, ELACs and SECs, so that the autopilot disconnects.
3. The PFD will show both "Use MAN Pitch Tri

[2020-08-18 16:08] Octal450 commented on #176
This is since @legoboyvdlp 's changes to the fbw logic

[2020-08-18 16:18] legoboyvdlp commented on #176
I tested this very situation, so I doubt it is caused by this. Unless there was a subsequent set of changes?

[2020-08-18 16:33] Octal450 commented on #176
The only thing that *should* be allowed to write to the law property (which is what should be used to decide what is shown on the PFD) should be it-fbw.nas.

Could check if it was written to anywhere else.

[2020-08-18 16:59] legoboyvdlp commented on #176
Thanks --> it's been fixed now :)
@Axeinator

The issue was that the legacy code did not consider the flight computer failures, so would try to reset it in the case of total failure.

[2020-08-18 16:59] #176 closed, assigned to legoboyvdlp, Octal450

[2020-08-22 21:08] eaglerainbow opened #177 "Bug - Flight Director, unable to change active waypoint after takeoff"
**Describe the bug**
At various cases, I was unable to change the active waypoint selected by the FD after take-off. It kept stay at the starting airport's runway even though I tried to give inputs to change it to a more recent waypoint.

**To Reproduce**
Steps to reproduce the behaviour (these are steps were it worked best for me):
1. Take LPPT as starting airport, RWY 03.
2. Program FPLN via MCD

[2020-08-22 21:08] eaglerainbow commented on #177
Am I doing something wrong?

[2020-08-23 14:09] legoboyvdlp commented on #177
Do you have a log file?

http://wiki.flightgear.org/index.php?title=Commonly_used_debugging_tools&redirect=no#fgfs.log

[2020-08-23 18:28] eaglerainbow commented on #177
Not yet. But I'll try to get one for you. Stand by...

[2020-08-23 18:37] eaglerainbow commented on #177
We are lucky: The [old log file](https://github.com/legoboyvdlp/A320-family/files/5114646/fgfs_0-gh177.zip) was still available. It was the original session from which I also took the screenshots above.

During that session I tried it a dozen times, but no avail. I went down to LPMA with the autopilot in HDG mode only.

Note: It took me (I would guess - didn't look at the watch, though) at least 1

[2020-08-24 15:22] legoboyvdlp commented on #177
These are all harmless warnings.

Can you please just send the complete file -- looking for a Nasal runtime error?

Edit - found it in your post - sorry.

[2020-08-24 15:24] legoboyvdlp commented on #177
Unfortunately there are none. But I will try and reproduce it.

[2020-08-24 17:12] eaglerainbow commented on #177
😄

Please let me know in case I can be of help.

[2020-08-25 19:06] legoboyvdlp commented on #177
Unfortunately, I can't reproduce this :(

[2020-08-26 16:54] eaglerainbow commented on #177
Thanks for the info!
I will try to reproduce it myself aiming to narrow it further down, e.g. giving more detailed hints.
Besides the log file above, is there anything that I can switch on which might help you track down things?

[2020-08-26 17:21] eaglerainbow commented on #177
Just tried out a little bit myself.
I suddenly also have issues reproducing it.  Will keep on trying...

[2020-09-03 15:36] eaglerainbow commented on #177
Sorry for the delay. It just happened again 😀
I was mainly doing the same thing (LPPT/LPMA) as described initially. However, this time
* I taped it on a video from start till end
* I could get it fixed shortly after takeoff myself - I don't know how I did that exactly.

Also I could save the fsgs logfile. I stumbled over the problem of around 35 mins after start of the simulator.
The log file arou

[2020-09-04 15:53] legoboyvdlp commented on #177
I see now what it is.

 2154.50 [WARN]:nasal     C:\Jenkins\workspace\Windows-release\flightgear\src\Scripting\NasalPositioned.cxx:3289: procedure.route failed for ArrivalDeparture somehow

Your navdata is invalid. To solve this, you should edit the file LPPT.procedures.xml, line 1845, to read

`<Sid Name="GANS8N.03" Runways="03">`

Then, you can load it correctly. Otherwise, it reads the first GA

[2020-09-04 15:53] #177 closed, assigned to legoboyvdlp

[2020-09-04 19:10] #170 closed, assigned to nobody

[2020-09-04 19:10] legoboyvdlp commented on #74
Anything on this?

[2020-09-04 19:15] merspieler commented on #74
No... but it seems to be related to our way of calling our popup windows...

If I pop one of our svg files with semi-transparent dimming layer into the Pipistel Alpha Electro payload dialog, it's not transparent.

So they do something differently.

I didn't look into this much further yet.

[2020-09-05 21:23] merspieler commented on #36
CFM56 uses about 0.5L oil/flight hour

[2020-09-14 10:48] blitzcaster opened #178 "Question: Managed Altitude Mode"
Is managed altitude modeled? I can't seem to press altitude knob to engage managed mode.

[2020-09-14 11:06] merspieler commented on #178
Nope, that's not yet modeled.

[2020-09-22 16:03] merspieler opened #180 "Bug - Aileron movement without ELAC and SEC"
**Describe the bug**
A clear and concise description of what the bug is.

When ELACs and SECs are turned off, there are no computers controlling the ailerons so they shouldn't move.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn ELAC 1 and 2 as well as SEC 1, 2 and 3 off
2. Move ailerons on when on ground, extend flaps when in air
3. note that the Ailerons move/droop

**Expected behavi

[2020-09-30 08:53] MiSKLaCH opened #181 "Bug - Hydraulics ECAM page shows misleading alerts"
### General
----
I am submitting a: (select one)
* [x] Bug report
* [ ] Feature request

### Details
----
#### Expected Behavior (bug reports)
In the hydraulics ECAM page shouldn't be displayed warnings/alerts when everything is fine.

#### Current Behavior (if applicable)
Despite engines running or not running, hydraulics ECAM page keeps showing:
- OVHT
- LO AIR PRESS

(see https://imgur.com/a/or

[2020-09-30 08:58] merspieler commented on #181
@legoboyvdlp you've changed something on the ecam recently. any chance, you've missed that?

@MiSKLaCH the images don't show here. Please upload them directly to github in future.

[2020-09-30 10:19] MiSKLaCH commented on #181
Engines not running:
![hyd_bug](https://user-images.githubusercontent.com/15834441/94673521-22ecaf80-0317-11eb-9af0-bf777b01c570.png)

Engines running:
![hyd_bug_engines_on](https://user-images.githubusercontent.com/15834441/94673577-3a2b9d00-0317-11eb-8c25-d68c402c7083.png)

[2020-09-30 13:06] merspieler commented on #181
Thanks, there's more wrong than just the LO AIR PRESS and OVHT...
Valves are showing weird stuff too.

[2020-09-30 14:16] legoboyvdlp commented on #181
It would have been helpful if you had posted the Nasal runtime error.

It did not happen here, I checked each page one by one.

Can you please post it?

Thanks 👍

[2020-09-30 14:31] MiSKLaCH commented on #181
I see this in the Nasal console, hope it helps (note that even the clock in the lower part is screwed, UTC time was definetely not 00 H 00)
![nasal_console](https://user-images.githubusercontent.com/15834441/94699067-378e6f00-033a-11eb-8a3d-977a11d14e5f.png)

Edit: pretty much all values are weird, UTC time, GW, TAT and SAT are all completely different from the other pages. Values are NOT updated,

[2020-09-30 17:16] legoboyvdlp commented on #181
Thanks, I've corrected it now. There was a typo, where it would seemingly refer to a variable I created in another, unrelated file. However, it would work without giving an error message - when I removed the variable (_after_ checking the displays) it then broke. I've (re-)checked all other displays as well. All seems to be working now!

[2020-09-30 17:23] #181 closed, assigned to legoboyvdlp

[2020-10-07 10:53] #15 closed

[2020-10-07 15:46] MiSKLaCH opened #182 "Feature Request - realistic behaviour of ADIRS alignment process"
**Is your feature request related to a problem or missing feature? Please describe.**
Even though this aircraft is pretty well modeled and it is almost payware quality, there are some things which are yet to be fixed or implemented from scratch. I hope the following in particular will not be too hard to make. ;)

The ADIRU splits in two separate units which are respectively:

- AD or Air Data unit

[2020-10-07 15:50] legoboyvdlp commented on #182
Thanks,

This is already simulated internally - however, the ND doesn't yet have the drawings. Actually, if you'd like to help out on this, drawing the red "map not AVAIL" would help! :)

I wasn't aware of the difference between the PFD and ND - I suppose attitude is available sooner than the position?

[2020-10-07 16:07] MiSKLaCH commented on #182
I'm not used to SVG drawing but I'll give it a try for sure :)
I guess you already know this site: http://www.a320dp.com/A320_DP/menu.html

Just in case you don't, It's an overwhelming source of informations about A320 systems.
Here is the section about the panels: http://www.a320dp.com/A320_DP/panels.html

You guys are doing a GREAT job, hope I can help somehow.

[2020-10-07 16:19] merspieler commented on #182
Think, I've seen that.
These sites are not guaranteed to be 100% accurate so we usually use only pictures of real aircraft and the FCOM (Flight Crew Operational Manual) as reference.

At one point, any one of us had any lack of experience for what we wanted to do... creating an aircraft always involves learning.

If you need any help or guidance, let us know.

[2020-10-07 18:07] merspieler opened #183 "Bug - Chrono doesn't show hours"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start chrono
2. Wait 100 minutes.
3. Observe, starting over from 00:00

**Expected behaviour**
A clear and concise description of what you expected to happen.
Switch to showing hours and minutes

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-10-07 18:13] legoboyvdlp commented on #183
Edit - nvm, I wonder did I break it last change.

[2020-10-07 22:05] mohamedaissa opened #185 "Feature Request -"
is it possible to add wingflex to the A320

the A320 has some wingflex sometimes during landing or takeoff

i found some videos
[https://www.youtube.com/watch?v=bKJhTaGsuM4](url)
[youtube.com/watch?v=Of0bLqj_o-U](url)

[2020-10-07 22:06] #185 closed, assigned to legoboyvdlp

[2020-10-07 22:06] mohamedaissa opened #186 "Feature Request - WingFlex"

[2020-10-07 22:31] merspieler commented on #186
Please see: https://github.com/legoboyvdlp/A320-family/issues/30

... and you can edit your issue ;-)

[2020-10-07 22:31] #186 closed, assigned to legoboyvdlp

[2020-10-08 07:30] mohamedaissa commented on #186
why please ?

[2020-10-08 09:30] MiSKLaCH commented on #182
Here it is. I don't even know if I placed the objects correctly.
What I've done is to create a new layer called UNAVAIL with the graphics of NAV and ARC modes in "unavailable state".
Let me know in case I screwed everything up, that's my first time with SVGs.

[airbusND.zip](https://github.com/legoboyvdlp/A320-family/files/5348720/airbusND.zip)

[2020-10-08 11:05] merspieler commented on #186
because you need cuts in the model. This would result in ugly seams and complicates the animations a good bit.

Maybe in future, when there's a well working vertex shader, we could add it.

[2020-10-08 11:17] merspieler commented on #182
Looks good...

You had a few twists...
* The naming of ARC vs NAV was flipped
* The outer ARC wasn't in the group

Apart from that, the only thing I had to change, was to rename the GPS PRIMARY LOST as there are more possible message (which are as well not yet implemented)... tho that you probably didn't have on your radar yet.

Loading it in flightgear gives me an error tho:
[code]

[2020-10-08 11:20] MiSKLaCH commented on #182
There is a new version in my previous comment, I noticed I forgot the outer arc (and added it).
I'll try to look into such error and will let you know (hopefully).

[2020-10-08 11:21] MiSKLaCH commented on #182
Oopsie... wrong button, my bad (reopened).

[2020-10-08 11:26] merspieler commented on #182
The error seems to come from a rectangle object, you've added...

[2020-10-08 11:28] MiSKLaCH commented on #182
Strange thing there is only one error! :)
The rectangle could be the one surrounding the GPS PRIMARY LOST, it's the only rectangle added.

[2020-10-08 11:28] merspieler commented on #182
remove it and see if it works ;-)

[2020-10-08 11:33] MiSKLaCH commented on #182
Removed but no luck... trying to solve the issue. :(
I'm doing some tests, will let you know asap.

[2020-10-08 14:54] MiSKLaCH commented on #182
Managed to fix it, it seems it was a damn font issue.
Let me know in case something is broken.

[airbusND.zip](https://github.com/legoboyvdlp/A320-family/files/5348720/airbusND.zip)

[2020-10-08 15:15] merspieler commented on #182
Looks good.

Next would be the logic... do you want to give it a try with our help?

[2020-10-08 15:18] MiSKLaCH commented on #182
Why not, I'm glad to help this project :)

[2020-10-08 15:28] merspieler commented on #182
Great.

I've never touched the ND Code my self so it might take me some time, to point you in the right direction or @legoboyvdlp might help out with that.

If you like to contribute more, I'd highly recommend, that you take a look at git (install it on your PC) so you can commit your changes and then create a pull request, when you think, your changes are ready for being merged.
If you need any a

[2020-10-08 15:30] legoboyvdlp commented on #182
The ND is ... complicated... I guess it would mean adding code to Instruments/ND/canvas/ND.nas.

Line 182 and 202, there are two objects, each with getKeys() and update().

Inside update() it should work to update the hiding / showing of the error message.

essentially, you want a condition similar to this:

`if (systems.ADIRS.ADIRunits[0].aligned == 1 or (systems.ADIRS.ADIRunits[2].aligned == 1 a

[2020-10-08 15:41] MiSKLaCH commented on #182
@merspieler I already have git on my Linux PC but I guess I should learn other arguments apart from "clone", "pull" and "whatchanged" :smile:
I'll give it a look, and thank you @legoboyvdlp for the hints! :wink:

[2020-10-08 15:55] merspieler commented on #182
Then you've got the basics already.

For `git pull` there's the `--rebase` argument which you should use, if you pulling on a branch where you have some work committed but not yet pushed (to avoid unnecessary merges).

`git branch` and `git remote` are worth a look when you start handling multiple branches and repos, both are quite stright forward tho.

`git stash` is another thing that I use freq

[2020-10-08 17:53] legoboyvdlp commented on #183
![image](https://user-images.githubusercontent.com/10434911/95495634-99348600-0997-11eb-8f3b-4285e9ee4aea.png)

[2020-10-08 17:53] #183 closed, assigned to nobody

[2020-10-08 21:01] mohamedaissa commented on #186
there a wiki article named Wingflex shader wich is a technic to add wingflex without cutting the wing
here's the link :[wiki.flightgear.org/Wingflex_Shader](url)

[2020-10-09 08:25] merspieler commented on #186
Okay, last time I've checked, it supported only the organic mode...

This has changed now.

Would you like to give it a try, implementing this on the A320?

We'd help you, if you'd like to do it.

[2020-10-09 12:15] mohamedaissa commented on #186
Ok i'll try i need the Wing objects
The object type: rotation or normal
and please the Wingflexer-params
it may take some weeks

[2020-10-09 15:24] merspieler commented on #186
Wing objects:
* Wings
* SpoilerR1 through R5 and L1 through L5
* WingtipFence
* navglass
* nawglass.sharklet
* Sharklet
* FlapR1 (R2, L1 and L2)
* EngineFairingR (L)
* FairingR1 through R3, same for L
* AileronR (L)
* SlatR1 (R2, L1, L2)

For the animation, please take a look at the current animations.

I don't have the params either, so you've got to figure that out.

[2020-10-09 15:44] mohamedaissa commented on #186
thanks i think i have the Wingflex params from an older version (the launcher one)

[2020-10-09 16:43] mohamedaissa commented on #186
for the "Fairing" is it considered as a flap
same question for the Slats
thanks

[2020-10-09 18:03] merspieler commented on #186
I've taken the object names from the 3D branch.. https://github.com/legoboyvdlp/A320-family/tree/3D

The fairing is part of the flap mechanism..

[2020-10-09 18:50] mohamedaissa commented on #186
thank you very much i might finish the wingflex aniamtion this weekend
sorry for bothering you so much

[2020-10-09 19:43] merspieler commented on #186
no worries, we've all started like that ;-)

[2020-10-09 20:58] mohamedaissa commented on #186
ok so is did some test and it worked i'll just fix some bugs and add the slats and the fairing
i will be ready on the next friday at latest because of school

[2020-10-09 22:00] merspieler commented on #186
take your time, no need to hurry.

[2020-10-09 23:32] mohamedaissa commented on #186
so i have i problem i animated almost everything but i can't animate the actual wing
help please
thanks

[2020-10-10 07:01] merspieler commented on #186
could you please fork this repo and push your changes to it so I can take a look

[2020-10-10 07:10] merspieler commented on #183
I've confused it with the chrono on the ND:
(9) Chronometer Indication (white)
These numbers appear when the onside chronometer is started.
They display the elapsed time.
The indication is in minutes and seconds from 0 to 59 min 59 s, and in hours and minutes from 1 h
to 99 h 59 min (Seconds are not displayed beyond 59 min 59 s).

... and the ET

[2020-10-10 07:13] mohamedaissa commented on #186
how please ?

[2020-10-10 09:49] legoboyvdlp commented on #186
I see you didnt mention your harassment of four individual people leading to the ban you are so upset about...

[2020-10-10 09:52] mohamedaissa commented on #186
let me alone i'm only 13 and i'm in depression because of you. i quitted everything
stop now please

[2020-10-10 10:41] merspieler commented on #186
what ever you want

[2020-10-10 14:14] mohamedaissa commented on #186
i'm sorry for that merspieler
maybe i'll do it.

[2020-10-10 16:38] legoboyvdlp commented on #150
@Octal450 Do you have any suggestions on this?

[2020-10-10 16:54] legoboyvdlp commented on #125
The pitch scale needs constructed again.
![image](https://user-images.githubusercontent.com/10434911/95660731-a8dfd600-0b21-11eb-9526-43adfa2c5ed1.png)

[2020-10-10 17:02] Octal450 commented on #150
I did that for you already.
Surface position: /fdm/jsbsim/hydraulics/elevator-trim/final-deg
Cmd Deg from wheel: /fdm/jsbsim/hydraulics/elevator-trim/cmd-deg

Surface position shows the ACTUAL position after hydraulics. Cmd Deg shows what the trim wheel is commanding to the stab.

Kind Regards,
Josh

[2020-10-10 19:36] legoboyvdlp commented on #150
However, the _input_ on the trim wheel itself doesn't seem good -- it isn't possible to command +1.0 for instance, only +0.9 or +1.1.

[2020-10-10 19:47] Octal450 commented on #150
You could cut the amount if slews on click in half.
Completely killing controls flight elevator trim would be extremely problematic.

Alternatively I could design a custom function that slews it by the .1 degree if you wish.

Kind Regards,
Josh

[2020-10-10 19:55] legoboyvdlp commented on #150
That would be good :+1:

[2020-10-10 19:55] Octal450 commented on #150
Which one? :D

[2020-10-10 19:59] legoboyvdlp commented on #150
.1 deg! Then it will be good :)

[2020-10-10 20:24] Octal450 commented on #150
Oke. I'll do that asap.

[2020-10-11 00:23] #150 closed, assigned to legoboyvdlp, Octal450

[2020-10-12 03:23] Octal450 commented on #180
I'll sort this in the FDM rework, have to update the FCS/FBW a bit anyways and possibly in the dev too, I'll investigate.

Josh

[2020-10-12 09:22] MiSKLaCH commented on #182
Ok, I gave it a good look and ... gave up! :disappointed: It's just waaay too complex for my poor skills.
I hope some day the drawings I made will be somewhat useful to you.

[2020-10-12 15:03] legoboyvdlp commented on #180
fwiw I already did all the fcs changes I sent to you in discord ;)

[2020-10-12 15:42] Octal450 commented on #180
👍

[2020-10-12 17:09] merspieler commented on #182
There for, that you've got no clue, you've asked very little questions... :P

That's fine....

@legoboyvdlp do you mind, adding it?

[2020-10-13 11:52] mohamedaissa commented on #186
i just need the wing object name

[2020-10-13 16:18] legoboyvdlp commented on #167
@merspieler Any chance you could provide these from the new model -- how is your screen resolution?
Mine is too low for good screenshots.

Optional... photoscenery :) :) :)

[2020-10-13 16:27] merspieler commented on #167
Sure.

1920x1080 (... or ultra wide, 5760x1080 :-P)

How about my SOTM for the wing view?
![](https://seafile.merspieler.tk/f/fd65b09dc14549e7957b/?dl=1)

And any location for the outside view?
... Which livery?

[2020-10-13 16:29] merspieler commented on #186
See my previous message...

[2020-10-13 16:30] legoboyvdlp commented on #167
Of the two I prefer Swiss myself... but ofc in good lighting conditions. FG renderer being somewhat odd, it probably looks best in good weather conditions. Maybe external view could be on the ground at a nicely modelled airport, e.g. Boston or Portland (Maine) in the USA?

[2020-10-13 16:31] merspieler commented on #167
I'll play around with KBOS...

[2020-10-13 16:35] mohamedaissa commented on #186
thanks

[2020-10-13 21:17] merspieler opened #187 "Bug - Refuel panel preselect still shows lbs when asked to show kgs"
... just a reminder

[2020-10-16 19:08] Castingfotograf opened #188 "Bug - Retrieving Flightplan from Simbrief fails"
**Describe the bug**
Unable to retreive Flightplan Data from Simbrief (worked in previous version)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'MCDU - INIT Page'
2. Click on 'Retreive'
3. Scroll down to '....'
4. See error "Fatal Error. non-objects have no member

**Expected behaviour**
After Confirming this message. Flightgear crashes

**Screenshots**
If applicable, add screensho

[2020-10-16 19:09] legoboyvdlp commented on #188
Sorry but I need to know what object does not have a member. Can you attach the full log please?

[2020-10-16 19:11] Castingfotograf commented on #188
Can you tell me, where to find this log file?-- Peter Schönamsgruber  -  en routeAm 16.10.20, 21:09 schrieb legoboyvdlp <notifications@github.com>:

  Sorry but I need to know what object does not have a member. Can you attach the full log please?
  —You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-16 19:11] legoboyvdlp commented on #188
It should be at C:\Users\user name\AppData\Roaming\flightgear.org\fgfs.log

Thanks!

[2020-10-16 19:35] Castingfotograf commented on #188
Just sent  you the log file via an other Emailer. I hope, it reached you.Tgank you for the great work!-- Peter Schönamsgruber  -  en routeAm 16.10.20, 21:12 schrieb legoboyvdlp <notifications@github.com>:

  It should be at C:\Users\user name\AppData\Roaming\flightgear.org\fgfs.log
  Thanks!
  —You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub,

[2020-10-16 21:14] legoboyvdlp commented on #188
Unfortunately it hasn't yet :(

[2020-10-16 21:30] legoboyvdlp commented on #188
Maybe send it directly to <legoboyvdlp @ gmail . com>?

[2020-10-17 12:39] legoboyvdlp commented on #180
Is it just me or can the pitch trim move without HYD?

[2020-10-17 12:52] mattmaring opened #189 "Feature Request - Wind request"
Pull wind data from SimBrief

[2020-10-17 15:51] Octal450 commented on #180
You can move the wheel. Isn't there mech backup for trim?

[2020-10-17 21:56] legoboyvdlp commented on #188
Closed per private communication, thx for the report :+1:

[2020-10-17 21:56] #188 closed, assigned to legoboyvdlp

[2020-10-18 14:54] merspieler commented on #180
afaik, the MECH backup law covers yaw via rudder and pitch via the THS

[2020-10-19 16:11] legoboyvdlp commented on #180
@merspieler sorry, we discussed this privately and came to the conclusion, I forgot to post it here,

Basically the manual input goes to the input shaft which controls the hydraulic actuator; the actuator still needs hydraulic pressure, otherwise it can't move (it is locked in place if it loses pressure).

So basically its mechanical input to the hydraulic actuator if the electronic input fails. I

[2020-10-19 16:14] merspieler commented on #180
okay... didn't knew that...

[2020-10-19 19:17] Octal450 commented on #180
Will be checked out

[2020-10-19 19:48] didi31434 opened #190 "Bug - missing file in the installation procedere"
**Describe the bug**
During the installation a issue report occoured.
Documentet in the sreenshot

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
a working A 320 simulation

**Screenshots**
![Unbenannt](https://user-images.githubusercontent.com/73137663/96504129-9158c980-1254-11eb-8a63-05b4669144e9.

[2020-10-19 19:48] #190 closed, assigned to legoboyvdlp

[2020-10-19 19:49] legoboyvdlp commented on #190
Please read the installation instructions.

[2020-10-19 19:49] legoboyvdlp commented on #190
Specifically, remove -dev from the folder name, as it says in the instructions :)

[2020-10-21 22:06] legoboyvdlp opened #191 "Bug - rudder trim indication should show positon, not command"
https://www.youtube.com/watch?v=_m7YtRv9JaM

[2020-10-24 18:09] legoboyvdlp opened #192 "AOC Pages"
FLT Log
![image](https://user-images.githubusercontent.com/10434911/97088913-f8e39000-162b-11eb-92c1-4e458588e1dc.png)

OOOI system
![image](https://user-images.githubusercontent.com/10434911/97088932-1a447c00-162c-11eb-98c7-0bf889bcc156.png)

[2020-11-08 19:33] legoboyvdlp commented on #182
Implemented this. The IR part will be redone later with the rest of the ADIRS. Thanks!

[2020-11-08 19:33] #182 closed, assigned to legoboyvdlp

[2020-11-08 19:41] #191 closed, assigned to legoboyvdlp

[2020-11-08 19:42] legoboyvdlp commented on #167
Done

[2020-11-08 19:42] #167 closed, assigned to legoboyvdlp

[2020-11-08 19:53] legoboyvdlp commented on #74
Our popups seem to be standard ones. That's a bit weird.

[2020-11-08 20:09] merspieler commented on #187
it shows the right amount now, but still broken

[2020-11-08 20:09] legoboyvdlp commented on #187
I was just about to push the fix!

[2020-11-08 20:09] #187 closed, assigned to merspieler

[2020-11-08 20:10] merspieler commented on #187
:D thanks

[2020-11-21 18:18] MiSKLaCH opened #195 "Bug - Cannot switch lower ECAM pages whilst enroute"
**Describe the bug**
Even though the ECAM pages buttons are working on the ground, I noticed they won't work anymore whilst the aircraft is enroute. Nasal debug console shows an error (see screenshot).

**To Reproduce**
Steps to reproduce the behaviour:
1. Program the aircraft, the buttons are working
2. Take off and reach cruise FL
3. Try switching ECAM pages via the buttons
4. If not working, as

[2020-11-21 18:19] legoboyvdlp commented on #195
I just had another report of this. I can't reproduce it myself, it works fine here. Did you try after the last commit I did just a few minutes ago?

[2020-11-21 18:20] MiSKLaCH commented on #195
I'm up to date with the latest commit, buttons work fine before and after the flight but they don't enroute... strange issue indeed.
Edit: I see last commit is 7 hrs old:
![latest_commit](https://user-images.githubusercontent.com/15834441/99884488-dc3c7700-2c2e-11eb-959a-6310e84cd9f4.png)

[2020-11-21 18:21] legoboyvdlp commented on #195
Oh, that maybe explains it because I was trying on the ground ... :v

and that is very bizarre

[2020-11-21 18:36] legoboyvdlp commented on #195
(Ah, I didn't push that commit ... just done. Will try and reproduce in flight now. )

[2020-11-21 18:39] legoboyvdlp commented on #195
Ah, found it! The cruise page doesn't have a light so naturally it fails :)

[2020-11-21 18:41] #195 closed, assigned to legoboyvdlp

[2020-11-24 22:24] MiSKLaCH opened #196 "Bug - PFD altitude bug unaligned and bouncing around"
**Describe the bug**
I noticed this issue as soon as I switched from local QNH to STD.
The altitude bug of both PFDs became unaligned compared to the altitude indication.
See screenshots, in every captured image the aircraft was in level flight and the AP altitude bug was significantly off the indicated altitude.

**To Reproduce**
Steps to reproduce the behaviour:
1. Prepare the aircraft for fligh

[2020-11-24 22:25] legoboyvdlp commented on #196
This one is weird, that part of the code  hasn't changed either, so I need to try and figure out what is going wrong ...  thanks for the report!

[2020-11-24 22:32] legoboyvdlp commented on #196
Nevermind, it was my fault, fixed locally now.

[2020-11-24 22:32] #196 closed, assigned to legoboyvdlp

[2020-12-02 12:40] 111ukasz111 opened #198 "Elac computers bug."
System and specifications: Windows 10, 4gb ram, intel core i7, Geforce 920m,
1. Turn off Elac 1 and Elac 2.
2. Elac 1 and Elac 2 aren’t red on screen.
![A320 Elac 1 and Elac2 off is not red](https://user-images.githubusercontent.com/20667528/100873730-e3bc1580-34a3-11eb-8b00-59e45c3760bb.JPG)

[2020-12-02 12:52] merspieler commented on #198
Please always check the latest version, before opening an issue.
This already works correctly on dev branch.

[2020-12-02 12:52] #198 closed, assigned to legoboyvdlp

[2020-12-02 21:56] braval2237 opened #199 "Fatal exceptionBug -"
It downloads properly but it wont let me load the aircraft into the simulator because of a fatal exception
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicabl

[2020-12-02 22:02] merspieler commented on #199
sorry, but we need more information.

If you've got more information like the fgfs.log, please reopen this issue

[2020-12-02 22:02] #199 closed, assigned to legoboyvdlp

[2020-12-02 22:07] legoboyvdlp commented on #199
almost certainly caused by lack of reading installation instructions!

[2020-12-02 22:20] braval2237 commented on #199
Okay so i went back and read the instructions but now im confused as to how to rename the aircraft,do i just rename it from the windows file or is it a different way?
Thanks for the help btw

[2020-12-03 01:03] Marsdolphin commented on #199
Rename the folder

[2020-12-05 12:53] #180 closed, assigned to legoboyvdlp, Octal450

[2020-12-05 12:54] legoboyvdlp commented on #29
Seems this is completE?

[2020-12-05 14:59] merspieler commented on #29
Nope,  Green HYD resvoir rises on gear extension and falls at retraction, is still missing.
Or the ecam page doesn't show it?

[2020-12-12 12:51] sfrsfrsfr opened #200 "Bug - Animated Jetways"
Despite different information by legoboy on Discord animated Jetways are not working for me.
I'm on fg next compiled two days ago and using the latest A320-family (A320-271N) dev branch.

**To Reproduce**
spawn at a Terminal at EDDH and click on the jetway. Error message: Cannot extend jetway. Your aircraft does not define the required positioning information.

**Expected behaviour**

Jetway conne

[2020-12-12 12:54] merspieler commented on #200
Please try the 3D branch... that supports it.

[2020-12-12 12:57] legoboyvdlp commented on #200
![image](https://user-images.githubusercontent.com/10434911/101984471-8f6e1e00-3c79-11eb-87f0-440459157ba4.png)

As I said (or didn't I...) 3D branch :)

[2020-12-12 12:57] #200 closed, assigned to legoboyvdlp

[2020-12-12 15:25] sfrsfrsfr commented on #200
hi legoboyvdlp,

i don't think you did :) i checked the version on fgaddon and it's basically identical to the dev branch. thus i used it that and noticed the issue.

the issue can be closed then. thx!

[2020-12-12 20:33] legoboyvdlp commented on #200
Sorry about the confusion. Thanks anyway :)

[2020-12-14 08:09] valtsu41 commented on #189
Could this be supported with custom weather configurations too?

[2020-12-14 18:27] mattmaring commented on #189
Perhaps in the future, my current implementation is just a simple pull from SimBrief (analogous to the INIT request).

I definitely see that being a useful feature for those not flying online. Probably will come later once I finish on the flightplan/fuel work.

[2020-12-25 17:15] #159 closed, assigned to mattmaring

[2020-12-25 17:18] mattmaring commented on #122
I plan on adding PROG data as part of my current work

[2021-01-01 14:33] mattmaring commented on #189
Done (in fuel-climb-descent)

[2021-01-01 14:33] #189 closed, assigned to mattmaring

[2021-01-05 22:53] buglaboie opened #202 "rain effect glitchy"
i don't really know who to blame but when ever there is light or heavy rain the effect is really bad, the water just stays there it dont even move even while flying, in addition sometimes i cant see because of the rain, and there is no wipers or some sort of way to get rid of it without changing the weather settings, anyways its not a big deal and something to be put in investigation because its j

[2021-01-06 11:33] merspieler commented on #202
Known thing...
The issue lies within the FG rain effect that we use as it doesn't really support wipers...

See as well issue #170

[2021-01-06 11:33] #202 closed, assigned to legoboyvdlp

[2021-01-06 14:53] buglaboie commented on #202
On Wed, Jan 6, 2021 at 1:34 PM merspieler <notifications@github.com> wrote:

Oh ok thanks, sorry if the question was a little stupid

[2021-01-06 16:18] merspieler commented on #202
no worries...

[2021-01-19 10:38] #192 closed, assigned to legoboyvdlp

[2021-01-20 17:32] macmmm81 opened #205 "Bug - Fatal Exeption, cannot launch"
**Describe the bug**
After an installation of FlightGear and then the aircraft I tried to launch the game with this aircraft selected. Game cannot load.

**To Reproduce**
Steps to reproduce the behaviour:
Open simulator, select A320 and fly.

**Screenshots**
![image](https://user-images.githubusercontent.com/39221755/105212348-9ed06900-5b4d-11eb-96d2-1f52284b254f.png)

**System (please complete th

[2021-01-20 17:33] #205 closed, assigned to legoboyvdlp

[2021-01-20 17:33] legoboyvdlp commented on #205
Fatal exception: didn't read installation instructions :joy:

[2021-01-20 17:33] legoboyvdlp commented on #205
To be clear you need to remove whatever Git adds to the end of the folder name. For example `-dev`.

[2021-02-05 13:29] legoboyvdlp commented on #6
@Octal450
![image](https://user-images.githubusercontent.com/10434911/107039725-2a84ff00-67b6-11eb-888d-c1071507ba6c.png)

[2021-02-19 14:41] merspieler opened #211 "Bug - X-Feeding doesn't work if on-side tank is empty"
**Describe the bug**
A clear and concise description of what the bug is.
X-Feeding is broken, when the tank on the receiving side is empty.

X-Feeding works correctly, when the receiving side has still fuel but the pumps are turned off.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start with only about 1000LBS fuel in the right wing
2. Open X-Feed
3. Fly till right hand tanks are empty.

[2021-02-25 20:37] #211 closed, assigned to legoboyvdlp

[2021-03-02 16:20] AAL5665 commented on #36
Just to be clear can this be enabled and disabled?

[2021-03-02 16:21] merspieler commented on #36
No worries. Once implemented, the default will be disabled.

[2021-03-02 16:28] AAL5665 commented on #36
Going off topic, the panel just below the COMM Panel, does it do anything like the PA

[2021-03-02 16:29] merspieler commented on #36
Offtopic-> please ask on the forum... where it belongs
I'll remove this in a few minutes

[2021-03-03 21:26] merspieler opened #212 "Bug - VHF3 data mode got broken on next due to core changes"
previously setting `/instrumentation/comm[2]/frequencies/selected-mhz` to 0 switched the VHF3 into data mode.

This is no longer possible as it gets reset to a valid frequency.

We need another property for it now..... any proposals?

[2021-03-03 21:28] legoboyvdlp commented on #212
I'm not sure. Maybe the radios need revised anyway

[2021-03-03 21:35] merspieler commented on #212
What should get changed? Other than fixing the issue?
... for VHF that is, HF and the other stuff never worked.

[2021-03-03 22:56] merspieler opened #213 "Feature Request - RMP Controll when some of them fail"
Just a reminder for my self....

DSC-23-10-30 P 1/4

From newer FCOM:

[2021-03-06 22:07] #212 closed, assigned to legoboyvdlp, merspieler

[2021-03-08 21:27] AAL5665 opened #215 "Feature Request - Sound Pack"
Some switch appear to not have sound implemented in them when click. E.g: Parking Brake, Engine Switch, Engine Mode Selector and Knobs

Please note that this is not forceful if not possible at the moment.
Link to some sounds: [https://www.youtube.com/watch?v=mLA6ZTAdqb0](url)

[2021-03-08 22:07] merspieler commented on #215
If you hope, we could copy the sounds from them, you've got to talk to them as they release it under the GPL3 which is not compatible with GPL2 which we use.

Also some of the sounds in the video don't seem to have an accurate sound to it....

[2021-03-08 23:51] mtkft commented on #163
You probably know better than me but I seem to recall this not being a thing on the real A32x. I won't say whether to include or not, something something realism/something something no other tools to accurately perform these calcs

[2021-03-09 00:24] mattmaring commented on #163
These calculations are intended to be part of the takeoff data uplink, which will automatically fill in the PERF TO page

[2021-03-10 11:00] ghost opened #216 "Feature Request - New aircrafts of the a320 family"
**in addition to the a320, it could have the a318 a319 and a321

[2021-03-10 11:47] merspieler commented on #216
Will come eventually, but not until the A320 is almost done...

[2021-03-10 15:26] #216 closed, assigned to nobody

[2021-03-13 11:46] AAL5665 commented on #215
How does the remote MCDU work (your-flightgear-computer) what do that mean?

[2021-03-13 12:30] AAL5665 opened #220 "Remote MCDU"
I am having difficulty in setting it up. Anyone know how I can use it?

[2021-03-13 12:33] merspieler commented on #220
Just read the [README](https://github.com/legoboyvdlp/A320-family#remote-mcdu)

[2021-03-13 12:33] #220 closed, assigned to nobody

[2021-03-13 12:37] AAL5665 commented on #220
Just so you know I can not understand after reading over.

[2021-03-13 12:53] merspieler commented on #220
you take the [mcdu.html](https://raw.githubusercontent.com/legoboyvdlp/A320-family/dev/mcdu.html) and save it in your FGData directory under the Phi directory (where FGData is, depends on your system and method of install)

Then you need to add the `--httpd=8080` option to flightgear, either on the command line or in the launcher.

Then start flightgear.
For a first test, open [this link](http://l

[2021-03-13 20:27] Honu4 opened #221 "Bug - MCDU.html Buttons not aligned"
I know this is not a part of the A320 per se, but this is a brilliant addon. I love it. Unfortunately on my iOS 14.4 iPhone 8 Plus, the buttons do not align with the text.

**To Reproduce**
Steps to reproduce the behaviour:
1. Access MCDU.html on iPhone

**Expected behaviour**
the buttons should line up closer to text

**Screenshots**
see pic

**System (please complete the following information):*

[2021-03-13 20:30] NewoIsTaken commented on #221
Hey @Honu4, I am currently working on a new and improved `mcdu.html`. An error on my part is that I did not test it on mobile. In FlightGear, the MCDU that pops up is always the same size (I believe) which make it easier to layout. Unfortunately lining everything up and having it be resizable is hard. For now, you will have to use it as is.

[2021-03-13 20:37] Honu4 commented on #221
@NewoIsTaken, Thanks for the quick follow up. Much appreciated. And thanks for this add-on. I understand itʻs in its infancy and it is quite useable as is. I look forward to updates.
Cheers!

[2021-03-13 20:39] NewoIsTaken commented on #221
@Honu4, I actually did not create this addon, please direct your thanks to @niner! :smile:

[2021-03-13 20:55] Honu4 commented on #221
@niner!!!!! Apologies. Please excuse my ignorance.
Cheers!

[2021-03-15 20:51] inuyaksa commented on #221
Hello @niner and @NewoIsTaken , great work for http mcdu, very useful using on my tablet! ;)
I suggest you some mods for a more comfortable usage on mobile.
Add these css props to buttons (td)
touch-action: manipulation;
user-select: none;
to prevent text selections and zoom on double tap.
Add oncontextmenu="return false;" to body to prevent context menu popping out on a long tap.
I hope working w

[2021-03-15 22:32] NewoIsTaken commented on #221
@inuyaksa Thanks for the suggestions! I will certainly consider them when creating the new one.

[2021-03-16 16:12] AAL5665 commented on #221
@Honu4 how did you get it to work?

[2021-03-16 16:40] AAL5665 commented on #221
mcdu.html does not open and leaves the message ('404 not found')

[2021-03-16 16:47] AAL5665 commented on #221
![Screenshot 2021-03-16 at 4 46 08 PM](https://user-images.githubusercontent.com/74672200/111347659-5463f800-8677-11eb-8003-ff68482703c6.png)

[2021-03-16 17:48] niner commented on #221
@AAL5665 did you follow the instructions in the A320's README?

[2021-03-16 18:30] AAL5665 commented on #221
https://user-images.githubusercontent.com/74672200/111361357-a744ac00-8685-11eb-83cb-3f413524fe41.mp4

[2021-03-16 19:20] AAL5665 commented on #221
@niner Found the problem sorry for the trouble

[2021-03-16 20:38] niner commented on #221
Can you tell us what it was? Could be useful if someone else has the same
problem.

[2021-03-17 12:48] AAL5665 commented on #221
@niner (Using Mac) I duplicated the package content in order to access the aircraft folder for swift. After reading the README I placed the mcdu.html in the duplicated folder of FlightGear(its package content for swift) making it ineffectively when I started FlightGear itself(because I first used windows until recently).

your-flightgear-computer is your computer's ip address

https://user-images.

[2021-03-17 13:32] NewoIsTaken commented on #221
@AAL5665, could you attach your `$FG_HOME/FlightGear/FlightGear.ini` file here? Should be at: `~/Library/Application Support/FlightGear/FlightGear/FlightGear.ini`.

[2021-03-20 11:51] AAL5665 commented on #215
Sound system.
The cockpit seems to be a lot loud when the two engines have started during a flight(after startup and until engine shutdown)
I was wondering whether this is a bug or just the wrong sound?

[2021-03-20 11:59] AAL5665 commented on #215
@merspieler Hello?

[2021-03-20 15:06] merspieler commented on #215
I am NOT 24/7 instant support.... so please be patient... if I, or someone else need a couple of days to replay, then you've got to wait... In the end you're not paying us and we do it in our free time, so we've got exactly zero obligations!

Regarding the sound, I don't get whats your issue...

[2021-03-21 13:57] AAL5665 commented on #215
@merspieler sorry if I offended I didn't mean to get you angry just want to check if you were there. I am aware you aren't a bot so that is why I didn't continue to say anything until you replied.

I will send you an attachment regarding my issue.

[2021-03-22 01:41] Honu4 commented on #221
Thanks for pointing out this workaround for accessing the program package for this and other non-Mac-friendly applications requiring access to a data folder buried in the package. I was able to edit the path in Swift so I didn't realize that this is a good tip.

Mahalo

[2021-03-22 01:57] NewoIsTaken commented on #221
@Honu4 you can try to duplicate the `FGData` folder and then set `fg-root-2020-3-6=/home/newo/Applications/FlightGear/2020.3.6/fgdata` in `$FG_Home/FlightGear/FlightGear.ini`. You should be able to find your `FGData` folder by right clicking on `/Applications/FlightGear`. And selecting `Show Package Contents`. In there, you should be able to poke around and find a folder that says `Data`, `FGData`

[2021-03-26 05:48] AAL5665 opened #223 "Feature Request - MCDU AIRWAYS"
I would like to suggest that you use flightGear's airway data for now if possible.

[2021-03-26 08:13] merspieler commented on #223
As soon, as airways are working, we will obviously use what ever is available in flightgear... what else would we use?

[2021-03-26 08:13] #223 closed, assigned to nobody

[2021-03-26 15:40] AAL5665 commented on #223
I was referring to the AIRWAYS being usable in flightGear now. Guess I mistook it for being in line with fmsdata

[2021-03-26 15:41] AAL5665 commented on #223
@merspieler Sorry about that 😢

[2021-03-26 15:45] merspieler commented on #223
The awy.dat.gz is in FGData since 2013-12-13...
And yes, it probably can be used with an FMS that's designed to make use of it... we're not there yet.

AND STOP TAGGING ME.

[2021-04-03 10:54] AAL5665 opened #224 "Feature Request - Cockpit Tablet"
Will it be possible to add a screen touch tablet(in relation to A350 MCDU's screen touch interface), if so, will it be possible to make it capable of doing the following:
1. Display simbrief related option such as:
i. Route(while showing the flight progress as well)
ii. Time until arrival
iii. Callsign(Not necessary but a suggestion)
iv. Able to import simbrief flightplan OFP or printout(this migh

[2021-04-03 11:20] merspieler commented on #224
We have ideas for it... but won't come until near completion of the actual systems.

[2021-04-03 11:24] AAL5665 commented on #224
Sure fine by me

[2021-04-03 13:45] legoboyvdlp commented on #224
This doesn't make sense. Those are performed by ground crew; not in a "tablet" device.

[2021-04-03 14:52] AAL5665 commented on #224
Okay understood was referring to the FBW A320 EFB

On Sat, Apr 3, 2021 at 1:45 PM legoboyvdlp ***@***.***> wrote:

[2021-04-03 16:06] NewoIsTaken commented on #224
@legoboyvdlp X-Plane has a plugin called Avi-Tab and allows you to control those things in it. It is your choice whether you want to combine the two or keep them separate.

[2021-04-03 17:10] Octal450 commented on #224
Yes! I have been working on this on and off for the past few years... its something I will likely look into once the FDM (which is keeping most of my time rn) is complete!

Kind Regards,
Josh

[2021-04-03 20:05] merspieler commented on #224
Oh... and just FYI @AAL5665  :

That will be visible on the MCDU, once completed

Already on the MCDU F-PLN page

You can already import from simbrief....

Again, already available on the F-PLN page... as well you can use the PROG pages BRG/DIST function to get the directe distance

[2021-04-03 20:21] NewoIsTaken commented on #224
I was thinking instead of having menus to do stuff like push back or enable ground power, we put it in this tablet.

[2021-04-03 20:22] merspieler commented on #224
doesn't make any sense... on a real tablet you wouldn't have that...

[2021-04-03 20:23] NewoIsTaken commented on #224
But in real life, you wouldn't have menus either. Technically both are unrealistic. And this tablet isn't like an iPad tablet. It is a special tablet. :)

[2021-04-03 20:24] merspieler commented on #224
well... at least we can keep the tablet realistic... by not including that.
... and some airlines actually use iPads...

[2021-04-03 20:27] NewoIsTaken commented on #224
I believe that the idea for this tablet is not like a regular tablet. It is supposed to be like a control center for the plane but also a place for references like charts. Ultimately, this is you people's decision but those were just my two cents.

[2021-04-03 20:28] merspieler commented on #224
Don't steal the bad ideas from the commercial sims :P

[2021-04-03 20:36] Octal450 commented on #224
I actually think its a good idea @merspieler (to put the acconfig menus and sh*t in there) :D

Kind Regards,
Josh

[2021-04-03 20:38] merspieler commented on #224
cause the commercial crap does it?

[2021-04-03 21:20] inuyaksa commented on #224
My two cents. I don't like a fake tablet on this plane, I prefer a realistic table with all the functions a real pilot can use.
Other needed functions can be implemented on menu or acconfig.

[2021-04-04 02:21] NewoIsTaken commented on #224
Hey, maybe add a toggle, if you like the idea, then enable it, if you don't, you can disable it and just use the menus! :)

[2021-04-04 02:48] Octal450 commented on #224
Nah, just because its a convenient place to put stuff imo vs clumsy menus.

Not a requirement I just thought it would be cool. We can decide on it later anyways, take a vote and see who likes what.

Kind Regards,
Josh

[2021-04-04 22:42] AAL5665 commented on #224
Wow this is quite the discussion

[2021-04-04 22:53] AAL5665 commented on #224
Currently you are aware that the NAV mode only displays the F-PLN in a certain distance and the function of the route manager is none existing. Even if you use the F-PLN mode to view the result aren't different.

[2021-04-04 23:13] AAL5665 commented on #224
If there is a wish for such realism then there should be voice commands which might be used in controlling the ground crew(which might not be necessary) through the use of the MECH button for communication(initiation of commands).
Do not forget that in reality the doors are opened by the cabin crew which if you would want that then you might need that voice command option via the CALL button on th

[2021-04-04 23:23] merspieler commented on #224
Here is your distance:
![fgfs-20210404231814](https://user-images.githubusercontent.com/29063255/113524137-344f9680-959c-11eb-8372-bdcc811b30d9.png)

There is already voice control for a few functions... https://github.com/merspieler/flight-gear-copilot tho this is a very generic implementation and hasn't been updated in a while.
Adding stuff to it would be easy tho

Actually that CABIN/MECH butto

[2021-04-05 09:30] AAL5665 commented on #224
In addition, could the PAX, Cargo, FOB be displayed. For example,

if:
Forward Cabin = 3722
Centre Cabin = 2721
Aft Cabin = 4233
then
PAX = Forward Cabin + Centre Cabin + Aft / 100

if total == 10676 / 100 then
total = 106.7 or 107

if:
Forward Cargo = 3000
Aft Cargo = 3000
then

Cargo = Forward Cargo + Aft Cargo / 1000
if Cargo == 6000/1000
Cargo = 6.0

Display on tablet in a tab(Fuel And Payload

[2021-04-05 09:39] AAL5665 commented on #224
By the way going of topic, I would like to make a PACX related mod for FlightGear but I am new to this and was wondering if you could give help on how to learn and get started?

[2021-04-05 16:27] merspieler commented on #224
If you already know, you're off topic, then why do you post it in the first place???? (post removed)
Your question is better asked on the forum so I won't answer here-

For weight an pax... there was the idea of having an actual load sheet....

As said before, I'd prefer to have something similar to a real tablet on it and anything which is limited to the sim in a separate dialog.

Oh... and pleas

[2021-04-06 17:49] Octal450 commented on #6
ok am now looking at this... its possible yes but that'd be really weird to use imo. Doesn't really make sense.
Can you tell me about your setup?

[2021-04-06 17:53] Octal450 commented on #59
This is "problematic". The only way to fix this is to detect an in-flight state and then have acconfig "set" everything up properly... which can be tricky to do as not all the things are overridable in jsbsim... really best left to when most systems are considered "done"

Kind Regards,
Josh

[2021-04-06 17:53] Octal450 commented on #22
How to reproduce this? I am unable.

Kind Regards,
Josh

[2021-04-06 19:04] merspieler commented on #6
For levers on the joystick or the like, it doesn't make sense, that's true.
But for something like [this](https://shop.thrustmaster.com/en_gb/tca-quadrant-airbus-edition.html) it does make sense.

[2021-04-07 15:30] Octal450 commented on #6
No, usually such setups they use a separate axis for reverse or a button or something. So are you sure?
Kind Regards,
Josh

[2021-04-07 15:38] merspieler commented on #6
Afaik, they have one axis per lever and a "virtual button" that probably triggers with the detent.

[This thread](https://forum.flightgear.org/viewtopic.php?f=24&t=38387&start=45) has some xmls which seem to make it work correctly but there are(or were?) issues with detent alignment....

Unfortunately I haven't got one yet (out of stock everywhere) so I couldn't try my self just yet.

[2021-04-08 11:42] legoboyvdlp commented on #224
Real:
![image](https://user-images.githubusercontent.com/10434911/114020521-97288280-9867-11eb-9594-9268218b8e31.png)
![image](https://user-images.githubusercontent.com/10434911/114020553-a0b1ea80-9867-11eb-860a-080159543215.png)
![image](https://user-images.githubusercontent.com/10434911/114020604-b0c9ca00-9867-11eb-9773-f08edb5faf24.png)
![image](https://user-images.githubusercontent.com/1043491

[2021-04-08 12:05] NewoIsTaken commented on #224
Does this tablet actually come with the plane? Or do the airlines install them? Because it seems like some are a bit different...

[2021-04-08 12:26] merspieler commented on #224
Afaik, they are up to the airlines. They are also not really integrated into the systems like the OIS in the A350 is.

Last pic is interesting... (despite that it's an A330), it seems to be integrated into the table, similar to the Keyboard on the A380 and A350.

[2021-04-08 19:59] AAL5665 commented on #224
Is this going to have to include Navigraph as well for the charts?

[2021-04-08 20:08] merspieler commented on #224
Only if YOU pay for it

[2021-04-08 20:09] Octal450 commented on #224
Yep... ^

[2021-04-10 00:26] NewoIsTaken commented on #224
I mean... we're not going to give you Navigraph for free...

[2021-04-10 17:28] AAL5665 commented on #224
I was asking whether it will require Navigraph for the charts.
@legoboyvdlp Regarding the first issue about the flightplan being displayed on the tablet:

![Charts](https://user-images.githubusercontent.com/74672200/114279096-68a2d700-9a22-11eb-8863-57bb3e69150f.png)

This is in the photo right?

[2021-04-10 21:14] NewoIsTaken commented on #224
Ah, the US has charts for free published by the [FAA](https://www.faa.gov/air_traffic/flight_info/aeronav/digital_products/dtpp/search/), the UK has the [eAIP](https://www.aurora.nats.co.uk/htmlAIP/Publications/2021-03-25-AIRAC/html/index-en-GB.html), and I'm not sure for the rest and I am unsure if we do have the permissions to add them.

[2021-04-11 12:37] merspieler commented on #224
[Australia](https://www.airservicesaustralia.com/aip/current/dap/AeroProcChartsTOC.htm)
[Qatar](https://www.aim.gov.qa/eaip/2020-10-08-AIRAC/html/index-en-GB.html)
Have also some available.

[2021-04-11 17:56] NewoIsTaken opened #225 "Feature Request - Uplink TO Data"
Would it be possible to implement an Uplink TO Data to automatically calculate speeds/flaps/flex temp?

[2021-04-11 18:05] mattmaring commented on #225
See #163

[2021-04-11 18:05] #225 closed, assigned to legoboyvdlp

[2021-04-11 18:06] NewoIsTaken commented on #225
Ah, whoopsie, didn't see it.

[2021-04-11 21:29] #221 closed, assigned to NewoIsTaken

[2021-04-12 01:12] NewoIsTaken commented on #221
@inuyaksa why did you close this?

[2021-04-12 21:52] AAL5665 commented on #215
Issue = Cockpit gets louder when engines are start
Reference:
https://www.youtube.com/watch?v=SUJIa3aAyAg

[2021-04-13 13:00] merspieler commented on #215
If you turn on the enignes, it obvisouly gets louder.

And please always use a link with a timestamp... we can't watch 10 minutes videos just to find a 30 seconds sequence.

[2021-04-14 14:50] merspieler commented on #6
Okay, so I've got another notice from a user who has the TCP quadrant:

The detent buttons don't line up with the actual detents so you've got a thrust change on A/THR DISC

en:

[2021-04-16 07:20] AAL5665 commented on #215
I agree but after the startup it gets a lot louder in that cockpit than it should and the exterior gets a bit quieter than the cockpit

[2021-04-16 07:25] AAL5665 commented on #215
EXT Power connect before and after sound:
https://www.youtube.com/watch?v=3kvSH6QC6y0
Sound = 0:11 - 0:37
Addition sound = 0:51 - 1:04

[2021-04-16 07:39] merspieler commented on #215
Now I'm even more confused... the video doesn't even show engine startup.
What you can hear, once the acft has power, is the cooling fan.

Not sure which additional sound you mean.

[2021-04-16 07:46] AAL5665 commented on #215
My last comment was not on the startup but on actual sounds.

[2021-04-16 07:49] merspieler commented on #215
You mean the APPR CAT downgrade sound...
I'm not quite sure, why it happens... can you find any documentation for it please.

[2021-04-16 08:07] AAL5665 commented on #215
From I've seen it happens after the aircraft boots up

[2021-04-16 08:13] merspieler commented on #215
Duh... that I can see too... but why? Which system is responsible?

[2021-04-23 16:13] Octal450 commented on #144
I think this is because the engines are way underpowered. Should be fixed in 3D soon

Kind Regards,
Josh

[2021-04-23 22:02] Octal450 commented on #6
Fixed in 3D branch, you can slew detents to where you need. Will make a nice gui for it soon

Kind Regards,
Josh

[2021-04-24 13:58] AAL5665 commented on #215
https://www.youtube.com/watch?v=fQH_ngA_smg
4:35-4:42

[2021-04-24 14:27] merspieler commented on #215
Yeah... that's first the AP DISC sound and then the APPR CAT downgrade sound...

I've asked for documentation... on why it happens on startup...
I know why it happens in this video, that's stated in the FCOM.

[2021-04-24 14:34] AAL5665 commented on #215
just to be sure that was in regards to the ap disengage sounds without continuous warning sounds until warning button is pressed.

[2021-04-24 14:41] merspieler commented on #215
Then write that with the link... we can't read minds...
Also, what you can not tell for the video is if the PF cancels the warning manually....

[2021-04-26 20:16] 777joe opened #226 "Bug - Can't scroll through the available TRANSITIONS"
When Transitions are appear in the ARRIVALS page, we cant scroll through all the available transitions, and only the first 3 transitions are available

I have navigraph data for the procedures. All the side and stars work fine.

**System (please complete the following information):**
 - OS: Windows 7 32 bit
 - FlightGear version: 2020.3.8

[2021-04-26 20:21] merspieler commented on #226
Can you please let us know with which airport and STAR we can test this.

Most airports don't have that many transitions.

[2021-04-27 04:03] 777joe commented on #226
TNCM airport, ULUBA star, RNV10 approach. The TRNKY transition cannot be seen. Trying to manually type into TRANS doesn't work. This is in the 2103 AIRAC cycle.

[2021-05-09 23:57] Honu4 opened #227 "Bug - system state after improper/unintended AC loss on ground"
**Describe the bug**
I'm not sure exactly what happens, but I vaguely recall some weirdness happening before. This may not be specific to this aircraft. Could be a FG general bug.

If I forget to start APU and begin pushback, ground service power is disconnected and power is lost to aircraft, and pushback is continued in darkness. If during this pushback I start the APU, it appears that some setti

[2021-05-13 22:26] Honu4 commented on #227
Okay, I may have jumped to an incorrect conclusion here. KJFK has some pretty bad runway data. Threshold locations & ILS frequencies are suspect.

[2021-05-15 08:29] AAL5665 commented on #215
Back on the topic: BATT/EXT PWR sounds and button pressed sound

https://www.youtube.com/watch?v=ZiyR4juG1hE

Cockpit After Engine Start: 1:20-1:50
"Cockpit sounds remain the same after startup
https://www.youtube.com/watch?v=ytnLBAkRFQE

[2021-05-15 09:43] merspieler commented on #215
What do you want to say with that??? We know how to use youtube.

[2021-05-15 10:12] AAL5665 commented on #215
👍

[2021-05-23 09:18] velteyn opened #229 "Bug - Plae start engine while all fuel pumps are OFF"
**Describe the bug**
Hello, I don't know if at this stage of development this can be considered a bug or a missing feature but the fact is that I was able to start the plane engine with all fuel pumps to OFF position.

**To Reproduce**
Steps to reproduce the behavior:
1. Start battery pack 1 and 2
2. press APU master switch
3. start APU
4. wait for APU to startup and wait for AVAIL START
5. switch

[2021-05-23 11:53] merspieler commented on #229
This is not a bug.

The engines are fed by gravity even tho the pumps are off.

[2021-05-23 11:53] #229 closed, assigned to legoboyvdlp

[2021-05-24 20:42] valtsu41 opened #230 "Bug - You can select the text in the remote MCDU buttons"
**The bug**
When in the remote MCDU you can select the text inside the buttons. Ancient chrome version, for example selects the text every time I try to press a button.

**To Reproduce**
Just go to remote MCDU and do whatever you use to select/highlight text on your device.

**Expected behaviour**
Not being able to select the text since it is a button.

**Screenshots**
https://cdn.discordapp.com/a

[2021-05-24 21:25] merspieler commented on #230
On somewhat up-to-date chrome it doesn't select on a simple click, only when click and dragging...
Same applies to qutebrowser and Firefox, both somewhat current.

So I'd say, update your browser.

[2021-06-06 18:45] ltoenning opened #232 "Not staying on present heading when flying open transitions (after MANUAL)"
**Describe the bug**
Many airports (especially Germany) switching to open transition recently where, on downwind, there isn't a published turn to crosswind/final. Aircraft should continue on downwind and expect vectors to final from ATC.  (see https://nav.vatsim-germany.org/files/edgg/charts/eddl/public/EDDL_TRANSITION23.pdf or transition charts for EDDM/EDDF e.g. AD 2 EDDF 3-1-7 https://aip.dfs.d

[2021-06-08 15:07] legoboyvdlp commented on #232
Thanks - the MANUAL style leg is not yet implemented. I've got that to do on my list, but I've been waiting for quite a long time for James Turner to make some fixes so I can proceed to do that.

[2021-06-14 20:52] inuyaksa commented on #230
Fixed on recent commits (remote mcdu as webpanel).

[2021-06-14 20:52] #230 closed, assigned to nobody

[2021-06-21 16:53] AAL5665 opened #236 "Bug - FlightPlan Reset"
**Describe the bug**
When the PERF or INiTI Page is pressed during flight it resets the flightplan clearing everything

**Expected behaviour**
When press should only open the page and not reset the flightplan

**System (please complete the following information):**
 - OS: MacOS
 - FlightGear version: FlightGear 2020.3.8

[2021-06-21 16:56] legoboyvdlp commented on #236
Please give more detailed instructions to reproduce (as detailed as possible). I suspect you are doing something wrong, because that should only ever occur  if your internal FMGC phase is = 7. This only occurs 30 seconds after landing. Are you for instance, landing at an airport, and then taking off again multiple times?

[2021-06-21 16:56] AAL5665 commented on #236
No

[2021-06-21 16:59] AAL5665 commented on #236
I was at FL204 and a even increased the sim speed and made 3 headings with a flightplan in after takeoff so I don't that is a possibility

[2021-06-21 20:03] legoboyvdlp commented on #236
Well, I need more information than that, sorry, to reproduce it.

[2021-07-05 11:21] merspieler opened #237 "Feature Request - Performance data for Little Nav Map"
Provide performance data files for little nav map, once the FDM has been completed.

[2021-07-08 23:19] Octal450 commented on #144
Fixed?
At least... should be in 3D branch.

Kind Regards,
Josh

[2021-07-08 23:20] Octal450 commented on #22
Still unable to reproduce with my updated ground model.

Kind Regards,
Josh

[2021-07-17 19:54] legoboyvdlp opened #238 "Bug - possible issue with spoiler"
Possible issue with spoiler 1 on the left / right hand side  -- check the power supply from ELACs / SECs and hydraulics. I managed to get it so spoiler 1 on the left was failed but on the right was not failed ...?

[2021-07-17 19:54] legoboyvdlp commented on #226
Fixed?

[2021-07-17 19:54] #226 closed, assigned to legoboyvdlp

[2021-07-17 20:02] legoboyvdlp commented on #144
Confirm.

[2021-07-17 20:02] #144 closed, assigned to legoboyvdlp, Octal450

[2021-07-17 20:03] Octal450 commented on #144
Sweet thanks @legoboyvdlp
Kind Regards,
Josh

[2021-07-25 21:49] leEduardo opened #240 "Bug - Temperature glitches out when entering float value as cruise altitude in the FMGC"
**Describe the bug**
When a float value (like 3.8) is entered in the Cruise Altitude box (FMGC INIT page), the value is accepted and the temperature shown beside it shows a number with tens of decimal places. It stays like that even if you try to change the cruise altitude to a proper value.

**To Reproduce**
1. Go to 'FMGC INIT page';
2. Type a decimal number like 1.5 into the clipboard;
3. Inser

[2021-07-26 07:31] merspieler commented on #240
Why would you want to insert a float?

If I'm not mistaken, there are two issue:
* It does accept floats (shouldn't be accepted)
* Temp field always shows 14.3999999... no longer gets a new value.

[2021-07-26 13:17] mattmaring commented on #240
Fixed in dev :)

[2021-07-26 13:17] #240 closed, assigned to legoboyvdlp, mattmaring

[2021-07-26 16:03] merspieler opened #241 "Bug - Autoland light always turns on with ILS tuned and LS on"
**Describe the bug**
Autoland light is always on below 200ft when LS is on.

**To Reproduce**
Steps to reproduce the behaviour:
1. Tune an ILS
2. On the EFIS enable LS
3. Autoland light turns on

**Expected behaviour**
Autoland light turns only in following cases on:
DSC-22_30-30 P 3/4:

 below 200 ft and:
‐ The aircraft gets too far off the beam (LOC or GLIDE), or
‐ Both glide slope transmitters

[2021-07-26 16:10] Octal450 commented on #238
Does it happen on 3D Branch? I fixed a few issues with the spoiler system on there

Kind Regards,
Josh

[2021-07-27 04:02] Octal450 commented on #110
No problem. Planning to rework how G/A is done in ITAF core anyways so this should be easy to do.

Kind Regards,
Josh

[2021-07-27 04:05] Octal450 commented on #74
I will investigate this.
J

[2021-07-27 11:02] legoboyvdlp opened #243 "Bug - Accumulator should init with pressure"
**Describe the bug**
Currently when you start FlightGear the accumulator is unpressurized. This means the parking brake cannot be set.

**Expected behaviour**
Start with some pressure in the accumulators. Consider making it last from the previous session.

[2021-07-28 21:23] inuyaksa commented on #241
Working on it

[2021-07-30 02:23] leEduardo opened #245 "Bug - FLAPS 3 GPWS Inhibit doesn't work"
**Describe the bug**
When FLAPS 3 LANDING is selected in the GPWS panel it shows as ON but does not work as expected. You still get a "TOO LOW FLAPS" sound warning when trying to land configured with flaps 3.

**To Reproduce**
While in the air, configure the aircraft for landing. Push the "FLAPS 3 LDG" pushbutton into the "ON" position in the overhead GPWS panel. Gear down, select Flaps 3, select

[2021-07-30 19:11] leEduardo opened #246 "Bug - Unable to change liveries"
**Describe the bug**
It is not possible to change liveries at all with the 3D branch aircraft. It initializes with an "unpainted" livery; if you try to change it, the simulator freezes and crashes to desktop. The feature works flawlessly in the dev branch.

**To Reproduce**
Spawn in with the 3D branch aircraft. Try to change liveries through the menu. Crash to desktop.

**Expected behaviour**
Not

[2021-07-30 19:13] SP-NTX commented on #246
I also have this bug, Windows 10, FG Nightly

[2021-07-30 19:15] legoboyvdlp commented on #246
How much memory do you have? This does not happen here. In addition does it occur if you rescale the textures to 2048 from 4096?

[2021-07-30 19:17] merspieler commented on #246
Could you please let us know how much VRAM you have and what's the maximum supported texture size (max texture size see Menu->Help->About near the bottom)?

[2021-07-30 19:25] SP-NTX commented on #246
everything worked for me until today's updates

[2021-07-30 19:26] merspieler commented on #246
please, still give the reqested values

[2021-07-30 19:33] leEduardo commented on #246
I have 2GB VRAM, Max Texture Size shows 16384. Again, it works normally in dev.

[2021-07-30 19:33] legoboyvdlp commented on #246
@SP-NTX if so can you tell me, exactly, which commit caused it to fail? Thank you.

[2021-07-30 19:34] leEduardo commented on #246
I have 2GB VRAM and 8GB RAM. Could you explain further that rescaling thing?
This issue does not happen with the dev branch aircraft.

[2021-07-30 19:35] legoboyvdlp commented on #246
I know it doesn't happen with dev as you've mentioned that before. I wouldn't expect it to, because the 3D branch is much more detailed, accurate, but also heavier in performance.

What I mean is that you open the livery texture and reduce the size in pixels to 2096*2096, and then resave the texture.

[2021-07-30 19:39] leEduardo commented on #246
Where can I find these textures? The issue happens when I try to use the ones that come with the plane (Swiss or Austrian).

[2021-07-30 19:41] legoboyvdlp commented on #246
You can find them in A320-family\Models\Liveries\A320\CFM!

[2021-07-30 19:48] leEduardo commented on #246
Rescaling to 2048 worked for the Swiss livery. I'm able to select it in the sim now. Just strikes me as odd that, being able to sustain 90 fps with the aircraft parked, simply selecting a 4096x4096 livery would make it crash... Is it only a matter of not enough RAM?

[2021-07-30 19:48] merspieler commented on #246
that's actually 2048*2048

[2021-07-30 19:49] merspieler commented on #246
possible... could you monitor your ram usage please.

[2021-07-30 19:52] legoboyvdlp commented on #246
It really depends tbh, e.g. what other programs you have open? Also I can't think on any reason at all for it to change recently (today)? How much RAM do you have free before you change the livery?

[2021-07-30 19:58] leEduardo commented on #246
So I tested RAM usage now. The aircraft spawned with the Swiss livery already selected. The RAM usage was stable at 5.5 out of 7.7GB. I then selected the Austrian livery (4096x4096). RAM spiked at 6.6 out of 7.7GB, then the sim crashed to desktop.

[2021-07-30 20:19] merspieler commented on #246
So we've got something for you to try
Download [this zip file](https://github.com/legoboyvdlp/A320-family/files/6909837/swr.zip)
You'll find in there:

* SWR.xml, replace the original
* SWR-fuselage.dds Compressed dds texture put it besides the other textures in `A320-family\Models\Liveries\A320\CFM`
* SWR-fuselage-unc.dds Same file as above but uncompressed.

Start with a different livery than th

[2021-07-30 21:20] SP-NTX commented on #246
I dont know.  I downloaded it at 12:30 UTC

[2021-07-30 22:01] merspieler commented on #246
We've got one more thing to try...
Please test with the the 3D-canvas branch and see if the issue applies there as well.

[2021-07-30 22:26] leEduardo commented on #246
Done. It loaded normally with the compressed texture, with a RAM usage of 4.7 out of 7.7GB (the texture I manually rescaled to 2048 used 5.5).

With the uncompressed texture, the sim froze. Didn't crash to desktop, just stood there. Had to hard reset the PC and couldn't get a RAM figure.

[2021-07-30 22:27] merspieler commented on #246
okay, thanks... could you please try the 3D-canvas branch

[2021-07-30 22:27] leEduardo commented on #246
Will do... booting up the PC now

[2021-07-30 22:45] leEduardo commented on #246
Changing liveries worked perfectly fine in 3d-canvas, both the Swiss and Austrian liveries.

[2021-07-30 22:47] merspieler commented on #246
great, thanks for testing

@SP-NTX could you please test the 3d-canvas branch as well.

[2021-07-30 23:00] leEduardo commented on #246
One more question, what can I do to install other liveries (from the livery repo) and make them work?

[2021-07-30 23:16] merspieler commented on #246
on 3D branch, copy the livery .xml and .png files into the livery dir of the right variant.
3D-canvas branch is still very WIP so I won't give instructions on how to do that... (isn't that hard to figure out tho ;-)

[2021-08-01 02:34] leEduardo opened #248 "Bug - PROG FMGC page glitches out on cruise"
**Describe the bug**
Once you reach and maintain the programmed cruise altitude, the PROG page keeps flickering rapidly between CRZ and DES, making it unusable. It only comes back to normal when you actually begin to descend.

**To Reproduce**
Steps to reproduce the behaviour:
1. Setup a flight as usual in the FMGC (navigation and performance).
2. Select the cruising altitude in the MCP, takeoff,

[2021-08-03 11:00] #243 closed, assigned to legoboyvdlp

[2021-08-03 11:55] legoboyvdlp commented on #237
@merspieler what's the format of the files?

[2021-08-03 11:56] legoboyvdlp commented on #22
I can't reproduce it either, but it was somewhat of a weird issue. I'll close and if it ever happens again I'll reopen.

[2021-08-03 11:56] #22 closed

[2021-08-03 11:57] legoboyvdlp commented on #29
Complete ...?

[2021-08-03 11:57] merspieler commented on #237
They're xml files.

Schema can be found [here](https://www.littlenavmap.org/schema/lnmperf.xsd)

[2021-08-03 12:13] merspieler commented on #29
Haven't fully tested it, but looks complete to me.

[2021-08-03 13:47] #29 closed

[2021-08-03 14:00] legoboyvdlp commented on #213
I don't exactly understand this!

[2021-08-03 14:02] merspieler commented on #213
mostly just a reminder for me...

[2021-08-03 14:04] #246 closed, assigned to nobody

[2021-08-08 20:26] leEduardo opened #249 "Bug - Weird stall behavior"
**Describe the bug**
When the aircraft stalls from a high angle of attack, it immediately gains insane forward acceleration and quickly recovers from the stall climbing like a rocket once the vertical speed is showing -3000 ft/min or so, even if the pitch is maintained at the exact same angle it was at the moment of the stall.

It seems like the physics model uses only the vertical speed as a para

[2021-08-08 20:27] legoboyvdlp commented on #249
Thanks for the report. This is the reason why 3D is not yet merged, it is nowhere near finished. @Octal450 will fix that before merging.

[2021-08-08 20:27] #249 closed, assigned to Octal450

[2021-08-08 20:39] leEduardo commented on #249
Well, I just tested and the same thing happens in the dev aircraft, the pitch limit stays at +30deg all the way... the only difference is that in dev the aircraft falls like a brick to the ground, and in the 3D one it rockets into a steep climb. Maybe we could leave this open?

[2021-08-08 21:30] Octal450 commented on #249
@leEduardo the issue is because the extreme stall condition angle of attack isn't computed yet. I will be doing that once I am statisifed with the normal lift vs alpha table.

Vertical speed is not used at all in the flight dynamics, btw.

The pitch stall FlyByWire law is not there yet either, so that is why the pitch tries to stay where it is.

So not really a bug, more like, a to-be-done.

Kind

[2021-08-08 21:37] Octal450 commented on #238
This is fixed.
Josh

[2021-08-08 21:37] #238 closed, assigned to legoboyvdlp

[2021-08-19 13:24] legoboyvdlp commented on #248
Confirmed. Although its PERF, not PROG.

[2021-08-19 13:25] legoboyvdlp commented on #248
Actually, both PERF and PROG.

[2021-08-23 17:36] #248 closed, assigned to legoboyvdlp, mattmaring

[2021-08-23 17:36] legoboyvdlp commented on #248
Fixed

[2021-09-03 18:10] andras opened #251 "Bug - HDG "pull" behaviour"
**Describe the bug**
I believe the AP behaves wrong when turning the HDG selector while it's pulled.

**To Reproduce**
Steps to reproduce the behaviour:
1. Take off, fly HDG 360.
2. Pull HDG selector.
3. Turn HDG clockwise to 270.
4. Aircraft will first turn right, then change direction when the HDG bug is rotated past the reciprocal of current heading.

**Expected behaviour**
I believe the AP, wh

[2021-09-03 18:14] merspieler commented on #251
Do you have any documentation for this?

[2021-09-03 18:44] Octal450 commented on #251
Known thing, it's on my autopilot/FBW roadmap.

Kind Regards,
Josh

[2021-09-03 18:46] andras commented on #251
Thank you Josh, I just started searching through all the Airbus PDFs I collected a while ago (>50k pages or so in total) for the docs.  Now I know my memory was right and I no longer need to bother...

[2021-09-03 18:55] merspieler commented on #251
mind sharing those docs? maybe you've got something we haven't.
If so, write me on the forum.

[2021-09-03 20:00] Octal450 commented on #251
Yes please share the docs if you have. I only know it does this but not specifics.

Kind Regards,
Josh

PS: Also, I don't have an ETA for this right now, I'm trying to sort my medical issues.

[2021-09-16 11:33] #241 closed, assigned to inuyaksa

[2021-09-22 21:05] merspieler opened #254 "Feature Request - Add gear pins and covers"
Add gear pins and covers which also work like the real thing.

[2021-09-26 15:06] dirteat commented on #135
Yep, I'll vote for that one :)

I understand it is far from being a priority, but it just misses almost nothing to allow anyone to jump on it and start.

I've just made my maiden flight today, and the parts I did not guess alone, or with insim info, were just, in order of importance:

1) APU bleed ON, before Ignit Knob ON and Engine 1/2 starts. You can guess it if you look carefully to the arrow d

[2021-09-26 17:04] merspieler commented on #135
Won't be happening... we aim at study level so it's kinda expected to know the aircraft.

If you are a new user and just want to fly, you can use the ready for takeoff state, available via aircraft config.

[2021-09-26 17:21] dirteat commented on #135
No pb to me, it doesn't hurt to add somewhere that the ADRIS takes 10mn to be in stage though. Unless of course, you really want to scare all newcomers that did not read the full manual, but then, don't bother adding a checklist nor writing a wiki :)

[2021-09-26 17:42] merspieler commented on #135
it doesn't take exactly 10 min, it depends on your location, it's faster near the equator and takes longer towards the poles.

Well... if they don't know about ADIRS they probably don't know about a LOT of other things either... so you've got to give them a crash course. There's nothing against adding a tutorial (fg tutorials can even highlight the switch or pb you need to press). It's just, that

[2021-09-27 06:19] dirteat commented on #135
Thanks for the link, I'll try to contribute to the wiki or tutorial.

PS: I just wanted to add that, even though new comers can jump and fly with auto-start, there is this incontestable pleasure to start the engines and hearing their revs-up. Especially when the sounds are so well rendered, and match the real engines, as they are in the 320.

[2021-09-27 06:39] merspieler commented on #135
yeah... see it as reward for learining how to start it up ;-)

[2021-10-04 15:51] Octal450 commented on #245
Fixed in e56672d0

Josh

[2021-10-04 15:51] #245 closed, assigned to Octal450

[2021-10-16 21:27] leEduardo opened #256 "Bug - Manual engine start does not work"
**Describe the bug**
The manual engine start procedure does not work. Engine start and even PTU sounds play, but the engine parameters do not move.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the APU.
2. Turn APU bleed on.
3. Turn the engine mode knob to IGN/START, check engine parameters green in upper ECAM.
4. Press the ENG MAN START pushbutton in the overhead panel.
5. The engi

[2021-10-16 21:33] legoboyvdlp commented on #256
You keep making random weird forks with messed up branches. I'd advise you not do that. The branches are not compatible when merged.

[2021-10-16 21:37] leEduardo commented on #256
Well this issue isn't related to that. I just downloaded a copy straight from the official repository and got the bug. I usually fork branches so I can test new features as they are released but this isn't related.

[2021-10-16 21:40] Octal450 commented on #256
@leEduardo Don't fork to test. Instead, git pull from our repo. Then *if you want* you can push to your fork. There is *NO* need to fork ever, unless you are planning to commit changes and make a pull request to our repo.

If you want to test branches, use git to clone and checkout the branch, or download the zip from the branch selected instead of dev.

Anyways this is a known issue, will be reso

[2021-10-17 18:35] legoboyvdlp commented on #256
If you test branches -- and merge them randomly -- you **will** run into difficulties, as I said the branches are **not** compatiable.

[2021-10-17 18:41] leEduardo commented on #256
@legoboyvdlp OK sir, got it, again the problem isn't related to that.

[2021-11-03 21:28] TheRealAceCoder opened #257 "Feature Request - Airway support"
Allowing to enter Airways in the FMCDU so instead of entering 10-20 waypoints manually we can enter the airway.

[2021-11-03 21:46] legoboyvdlp commented on #257
Not possible. The API doesn't work.

[2021-11-03 21:46] #257 closed, assigned to legoboyvdlp

[2021-11-18 07:05] justkowal opened #258 "Bug - Screens are black and display DISABLED"
**Describe the bug**
Screens are black and display DISABLED
It's fresh install, both of flightgear and airplane

**To Reproduce**
Steps to reproduce the behaviour:
1. Start game
2. See Black screens with DISABLED text

**Expected behaviour**
Normal screens showing what they should

**Screenshots**
![fgfs-20211118070328](https://user-images.githubusercontent.com/49843860/142368179-9e118a2b-e5d9-49e

[2021-11-18 08:03] merspieler commented on #258
which airport is that?

[2021-11-18 18:00] justkowal commented on #258
Uhh it's EPCH is it important tho?

[2021-11-18 20:36] merspieler commented on #258
Airports with terrain problems can cause a disabled aircraft state, EPCH is fine tho.

Could you please post the log so we can see if there are any errors in it

[2021-11-18 21:37] Octal450 commented on #258
CANVAS is not initializing.
Show me log file or nasal console please.

Kind Regards,
Josh

[2021-11-20 14:15] legoboyvdlp commented on #258
@justkowal

[2021-11-20 14:17] justkowal commented on #258
Sure, will provide it soon

[2022-01-02 02:08] legoboyvdlp commented on #158
Should be fixed by 5e666793

[2022-01-02 02:08] #158 closed, assigned to legoboyvdlp

[2022-01-02 02:09] legoboyvdlp commented on #26
Closed because informal TODO moved to Discord, most of this bar power / load simulation done is complete

[2022-01-02 02:09] #26 closed

[2022-01-02 02:15] #227 closed, assigned to legoboyvdlp, mattmaring

[2022-01-02 02:16] legoboyvdlp commented on #236
Information requested wasn't provided - can't reproduce - can't fix.

[2022-01-02 02:16] #236 closed, assigned to legoboyvdlp

[2022-01-02 14:37] merspieler commented on #26
?

[2022-01-02 14:37] legoboyvdlp commented on #26
?

[2022-01-02 14:38] merspieler commented on #26
what do you mean, move to discord?

[2022-01-02 14:38] legoboyvdlp commented on #26
![image](https://user-images.githubusercontent.com/10434911/147879253-c86005b7-26ee-47fc-b69f-da4e2b096eb4.png)

[2022-01-02 14:39] merspieler commented on #26
but why???

It's no longer public... nor available on our mattermost...

[2022-01-02 14:39] legoboyvdlp commented on #26
It is both public and convenient.

Also, it's my personal list, used for my reference - so I'll put it wherever it's most convenient!

[2022-01-02 14:41] merspieler commented on #26
how can I view it without a discord account??? cause a) I don't agree to their TOS and piracy policy and b) even if I did, they wouldn't let me sign up... I've tried...

[2022-01-02 14:43] legoboyvdlp commented on #26
I don't believe that's possible.

[2022-01-04 20:42] Octal450 commented on #258
@justkowal Any update?

Kind Regards,
Josh

[2022-01-08 22:22] Octal450 commented on #256
Fix in progress.

Josh

[2022-02-03 05:14] naviat-dev opened #263 "Feature Request - Improved liveries"
With the standard paintkit for the A320, it has the texture for the wings, landing gear, and engine spiral. However, those files are already in other places, and the textures in the livery file have become redundant. Rather than having those textures there, you could replace it with something that looks cooler on the plane (e.g. gear doors, undercarriage, etc.)

[2022-02-03 08:01] merspieler commented on #263
There will be a new paintkit once the 3D model is ready

[2022-02-03 08:01] #263 closed, assigned to nobody

[2022-02-03 11:40] legoboyvdlp commented on #263
Correction - there *is* a new paintkit :)

[2022-02-04 05:11] naviat-dev opened #264 "Feature Request - Livery Contribution"
I have developed a texture for the a320 in 4K resolution, and I want to be able to contribute my liveries to this project. How can I do that? Thanks.

[2022-02-04 08:00] merspieler commented on #264
is that for the old model or the one on 3D branch?

If it's for the old one, we no longer will include any of it, if it's for the new one, see https://github.com/legoboyvdlp/A320-family-liveries

[2022-02-04 12:29] legoboyvdlp commented on #264
Please post the texture, can't do anything without seeing the texture.

[2022-02-05 07:35] naviat-dev commented on #264
I made textures for the A320, and for the A319 and A321 when they will be added eventually. Note that these are only CFM variants; i have multiple variants for different engines and winglets.
![A319-CFM](https://user-images.githubusercontent.com/73054858/152633096-f62be9b4-57f3-47fd-b6ef-57e54b08c50e.png)
![A320-CFM](https://user-images.githubusercontent.com/73054858/152633102-cf4cdecb-6475-49fc-9

[2022-02-05 10:57] merspieler commented on #264
Those are not for the new model... If you want to contribute liveries, please see the [instructions](https://github.com/legoboyvdlp/A320-family-liveries/blob/master/README.md)